<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block page_title %}{{ _("Your Site") }}{% endblock %}</title>
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta name="author" content="{% block meta_author %}{% endblock %}">

	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  {% block css %}{% endblock %}

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="notification"></div>
<div class="container">
	<header>
		<div class="sixteen columns">
			<div class="one-third column alpha">
				<div id="logo"><a href="/">Indie Film Rentals</a></div>
			</div>
			<div class="two-thirds column omega">
				<div class="top-elements no-mobile"></div>
				<div class="top-elements no-mobile" style="clear:both;">
					<div id="welcome-message">Welcome visitor you can <a href="#">login</a> or <a href="#">create an account</a>.</div>
						<div id="cart-links">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Shopping Cart</a></li>
								<li><a href="#">Checkout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen columns no-desktop"><a href="#" class="button">Checkout Now</a></div>
			<div class="sixteen columns clearfix pad-top"> 
			<div id="menu-wrapper" class="row">
				<div class="twelve columns alpha">
					<div id="menu">
						<ul>
		                    {% for category in categories %}
		                    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
		                    {% endfor %}
							</li>
						</ul>
					</div>
				</div> 
				<div class="four columns omega">
					<div id="search-box">
						<input type="text" name="filter_name" placeholder="Search" />
						<div class="button-search"></div>
					</div>
				</div>
			</div> 
		</div>
	<header>
  <div role="main">
    {% block content %}{% endblock %}
  </div>
  <footer>
	{% include "base/foot.html" %}
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  
  {% block extra-head %}{% endblock %}
  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</div>

</body>
</html>
