{% extends "shop/base.html" %}

{% block content %}
  <h1>Shipping and Billing</h1>
  <form method="POST">
  {% csrf_token %}
  <h3>Your shipping address</h3>
  {{ shipping_address.as_p }}
  <h3>Your billing address</h3>
  {{ billing_address.as_p }}
  <h3>Payment and Shipping Methods</h3>
  {{ billing_shipping_form.as_p }}
  <button type="submit">Save</button>
  </form>
{% endblock %}
