{% extends "base.html" %}

{% block extra-head %}
{% include "shop_stripe/_stripe_head.html" %}
{% endblock %}

{% block content %}
  <h2>Enter your payment information</h2>
  <br/>
  <form action="" method="POST" id="payment-form">
      {% csrf_token %}
      <ul class="payment-errors"></ul>
      <p class="form-row">
    <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" class="card-number" value="4242424242424242"/>
    </p>
    <p class="form-row">
    <label>CVC</label>
    <input type="text" size="4" autocomplete="off" class="card-cvc" value="123"/>
    </p>
    <p class="form-row">
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" class="card-expiry-month" value="12"/>
    <span> / </span>
    <input type="text" size="4" class="card-expiry-year" value="2013"/>
    </p>
    <button class="btn right submit-button" type="submit">Checkout</button>
  </form>
{% endblock %}
