/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #203756 url(../img/body_bg.jpg) 50% 0 scroll no-repeat;
		font: 14px/21px "OpenSans", Lucida Grande, Helvetica, Arial, sans-serif;
		color: #666;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #213856;
		font-family: "NexaBold", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Sans-Serif;
		text-transform: uppercase;
		}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 36px; line-height: 42px; margin-bottom: 14px; border-bottom: 1px solid #ddd; }
	h2 { font-size: 30px; line-height: 36px; margin-bottom: 10px; }
	h3 { font-size: 25px; line-height: 31px; margin-bottom: 8px; color: #477aa5; }
	h4 { font-size: 20px; line-height: 28px; margin-bottom: 4px; color: #477aa5; }
	h5 { font-size: 17px; line-height: 24px; color: #477aa5; }
	h6 { font-size: 14px; line-height: 21px; color: #477aa5; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote {
		position: relative;
		font-size: 15px; 
		font-family: georgia, times new roman, times, serif; 
		line-height: 25px; 
		color: #777; 
		font-style: italic;
		margin: 20px 0;
		border: 1px solid #ddd;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.085);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.085);
		box-shadow: 0 1px 2px rgba(0,0,0,.085);	
		background-color: #fff;
	}
	
	blockquote p { 
		padding: 20px;
		margin: 0; 
	}
	
	blockquote span.lquo {
		position: absolute;
		font-size: 60px;
		top: 5px;
		left: -10px;
		color: #aaa;
	}
	
	blockquote span.rquo {
		position: absolute;
		font-size: 60px;
		bottom: 80px;
		right: -10px;
		color: #aaa;
	}
	
	blockquote cite {
		display: block;
		background: url(../img/blockquote-cite_bg.png) 50% 0 scroll no-repeat;
		padding: 10px 20px 20px;
		color: #f2a200; 
		font-size: 18px; 
		font-style: normal; 
		font-family: OpenSans, Helvetica Neue, Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 rgba(255,255,255,1);
		-moz-border-radius: 0 0 12px 12px;
		-webkit-border-radius: 0 0 12px 12px;
		border-radius: 0 0 12px 12px;
	}
	
	blockquote cite .title { 
		font-size: 12px;
		line-height: 16px;
		color: #555; 
	}

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #2ea8e5; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #59c8ff; text-decoration: underline; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #309fdb; /* Old browsers */
		background-image: linear-gradient(bottom, rgb(0,102,153) 0%, rgb(46,168,229) 90%);
		background-image: -o-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(46,168,229) 90%);
		background-image: -moz-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(46,168,229) 90%);
		background-image: -webkit-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(46,168,229) 90%);
		background-image: -ms-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(46,168,229) 90%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(0,102,153)),
			color-stop(0.9, rgb(46,168,229))
		);
	  border: 1px solid #004d73;
	  -moz-border-radius: 6px;
	  -webkit-border-radius: 6px;
	  border-radius: 6px;
	  color: #fff !important;
	  display: inline-block;
	  font-size: 14px;
	  font-weight: normal;
		text-transform: uppercase;
	  text-decoration: none;
	  text-shadow: 0 -1px 1px rgba(0,0,0,.8);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 12px 20px;
	  font-family: "NexaBold", Helvetica, Arial, sans-serif;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 1px rgba(255,255,255,.5) inset;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 1px rgba(255,255,255,.5) inset;
		box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 1px rgba(255,255,255,.5) inset;
	
	}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background: #33b2f2; /* Old browsers */
		background-image: linear-gradient(bottom, rgb(0,111,166) 0%, rgb(51,178,242) 90%);
		background-image: -o-linear-gradient(bottom, rgb(0,111,166) 0%, rgb(51,178,242) 90%);
		background-image: -moz-linear-gradient(bottom, rgb(0,111,166) 0%, rgb(51,178,242) 90%);
		background-image: -webkit-linear-gradient(bottom, rgb(0,111,166) 0%, rgb(51,178,242) 90%);
		background-image: -ms-linear-gradient(bottom, rgb(0,111,166) 0%, rgb(51,178,242) 90%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(0,111,166)),
			color-stop(0.9, rgb(51,178,242))
		);
 }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		padding: 13px 21px;
		border-width: 0;
		background: #005b85; /* Old browsers */
		background-image: linear-gradient(bottom, rgb(51,126,158) 15%, rgb(0,91,133) 80%);
		background-image: -o-linear-gradient(bottom, rgb(51,126,158) 15%, rgb(0,91,133) 80%);
		background-image: -moz-linear-gradient(bottom, rgb(51,126,158) 15%, rgb(0,91,133) 80%);
		background-image: -webkit-linear-gradient(bottom, rgb(51,126,158) 15%, rgb(0,91,133) 80%);
		background-image: -ms-linear-gradient(bottom, rgb(51,126,158) 15%, rgb(0,91,133) 80%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.15, rgb(51,126,158)),
			color-stop(0.8, rgb(0,91,133))
		);

		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;
		box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;
 }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.oversized { font-size: 16px; line-height: 26px; }
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.dbl-bottom { margin-bottom: 40px !important; }
	.remove-top { margin-top: 0 !important; }
	.half-top { margin-top: 10px !important; }
	.add-top { margin-top: 20px !important; }
	.dbl-top { margin-top: 40px !important; }
	.ltblue { color: #8bcaff; }
	.yellow { color: #f2a200; }
	.dkgrey { color: #555; }
	.float-left { float: left; margin: 0 20px 20px 0; }
	.float-right { float: right; margin: 0 0 20px 20px; }
	
	.well {
		min-height: 20px;
		padding: 19px;
	  margin-bottom: 20px;
	  background-color: #f5f5f5;
	  border: 1px solid #ddd;
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
	
	li.odd { background: #f0f0f0; margin: 0; padding: 3px;}
	li.even { background: #fff; margin: 0; padding: 3px; }
	
	img.framed {
		background: #ffffff;
		padding: 8px;
		-moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);	
		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);	
		box-shadow: 0 2px 6px rgba(0,0,0,.2);		
	}

