/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries */

/* #Site Styles
================================================== */
/* DARK THEME */
body { padding-top: 0px !important; padding-bottom: 0px !important; background-color: #EEEEEE;  }
.container { -webkit-box-shadow: 0px 0px 25px 0px #BBBBBB; -moz-box-shadow: 0px 0px 25px 0px #BBBBBB; box-shadow: 0px 0px 25px 0px #BBBBBB; }


/* #Page Styles
================================================== */

/********** MENU ********/
#menu-wrapper { float: left; height: 41px; border-top: 1px solid #EEEEEE; border-bottom: 5px solid #EEEEEE; z-index: 9999; position: absolute; }
#menu {	height: 40px;}
#menu ul {	list-style: none; margin: 0; padding: 0; }
#menu > ul > li {	position: relative; float: left; z-index: 20;}
#menu > ul > li:hover {	background: #dc0053; color: #FFFFFF; }
#menu > ul > li:hover a { color: #FFFFFF; }
#menu > ul > li > a {	text-decoration: none; display: block; padding: 12px 15px 11px 15px; z-index: 6; position: relative; color: #dc0053; font-size: 14px; font-family: 'Open Sans', sans-serif; }
#menu > ul > li > div {	display: none; background: #FFFFFF; -webkit-box-shadow: 0px 0px 15px 0px #DDDDDD; -moz-box-shadow: 0px 0px 15px 0px #DDDDDD; box-shadow: 0px 0px 15px 0px #DDDDDD;  position: absolute; z-index: 9999; padding: 15px; }
#menu > ul > li:hover > div {	display: table;}
#menu > ul > li > div > ul {	display: table-cell; }
#menu > ul > li ul + ul {	padding-left: 20px; }
#menu > ul > li ul > li > a {	text-decoration: none; padding: 3px; display: block; white-space: nowrap; min-width: 140px; color: #444444; }
#menu > ul > li ul > li > a:hover {	 color: #FFFFFF; }
#menu > ul > li > div > ul > li > a {	color: #444444; }
#menu > ul > li:hover > div > ul > li > a {	color: #444444; }
#menu > ul > li:hover > div > ul > li > a:hover {	color: #dc0053; }

/********** CART LINKS ********/
#cart-links { float: right; }
#cart-links ul { list-style: none; padding: 0; margin: 0; }
#cart-links > ul > li {	position: relative; float: left; margin-bottom:0 }
#cart-links > ul > li > a {	text-decoration: none; display: block; padding-left: 15px; padding-right: 10px; padding-top: 0; padding-bottom: 0; font-size: 12px; position: relative; letter-spacing: -1px; color: #181818; background-image: url(../image/add.png); background-repeat: no-repeat; background-position: 0 2px; }
#cart-links > ul > li:last-child a {	padding-right: 0; }
#cart-links > ul > li > a:hover {	text-decoration: none; color: #dc0053; }

/********** TOP MENUS ********/
.top-elements {	float: right; text-align: right; margin-bottom: 5px; width: 100%; }
#currency-wrapper,
#language {	color: #999; float: left; margin-right: 15px; }
#logo {	height:57px; width: 300px; background-image:url(../../logos/logos.jpg); background-position: -80px -8px;  }
#logo img {	display:none; }
#welcome-message {	font-size: 11px; color: #999999; margin-bottom: 5px; clear: both; }
#welcome-message a { color: #dc0053;  }
 
/********** SEARCH ********/
#search-box { float: left; margin-top: 7px; }
#search-box .button-search { background: url('../img/button-search.png') center center no-repeat; width: 28px; height: 24px; float: left; cursor: pointer; }
#search-box input {	background: #FFF; padding: 5px; width: 180px; border: 1px solid #CCCCCC; float: left; margin-bottom:0; }

/********** CURRENCY ********/
#currency a { display: inline-block; padding: 2px 4px; border: 1px solid #CCC; color: #dc0053;  text-decoration: none; margin-right: 2px; margin-bottom: 2px; cursor: pointer; }
#currency a:hover {	-webkit-box-shadow: 0px 0px 2px 2px #DDDDDD; -moz-box-shadow: 0px 0px 2px 2px #DDDDDD; box-shadow: 0px 0px 2px 2px #DDDDDD; }
#currency a b {	color: #000; text-decoration: none; }

/******** CART AREA *********/
#cart {	position: relative; width: 160px; z-index: 6; }
#cart .heading {	float: left; margin-bottom: 3px; padding-left: 14px; padding-right: 14px; position: relative; z-index: 1; background-image: url(../image/arrow-down.png); background-repeat: no-repeat; background-position: left center; }
#cart .heading a {	color: #181818; font-size: 12px; text-decoration: none; cursor: pointer; }
#cart .content {	clear: both; width: 300px; display: none; position: relative; top: 0; left: -160px; padding: 8px; min-height: 150px; font-size: 11px; background: #FFFFFF; -webkit-box-shadow: 0px 0px 15px 0px #DDDDDD; -moz-box-shadow: 0px 0px 15px 0px #DDDDDD; box-shadow: 0px 0px 15px 0px #DDDDDD; z-index: 999; border: 1px solid #DDDDDD;}
#cart .content td a { color: #181818;  }
#cart .content  td a:hover { color: #dc0053; }
#cart.active .heading {	margin-top: 5px; padding-top: 5px; padding-bottom: 6px; }
#cart.active .content {	display: block; }
#cart .content  input {	margin-bottom: 0 !important; }
#cart .cart {	border-collapse: collapse; width: 100%; margin-bottom: 5px; }
#cart .cart td {	color:  #444444; vertical-align: top; padding: 10px; border-bottom: 1px solid #EEEEEE; }
#cart .cart .image {	width: 1px; }
#cart .cart .image img {  padding:3px;  border: 1px solid #DDDDDD text-align: left; }
#cart .cart .name small {	color: #999999; }
#cart .cart .quantity {	text-align: right; }
#cart .cart td.total {	text-align: right; }
#cart .cart .remove {	text-align: right; color: #444444; }
#cart .cart .remove img {	cursor: pointer; }
#cart table.total {	border-collapse: collapse; padding: 5px; float: right; clear: left; margin-bottom: 5px; }
#cart table.total td {	color: #181818; }
#cart .content .checkout {	text-align: right; clear: both; }
#cart .empty {	padding-top: 50px; text-align: center; }

/********* MISC **********/
.powered { padding-top: 12px; padding-bottom: 15px; margin-top: 15px; border-top: 5px solid #EEEEEE; font-size: 11px; line-height: 14px; }
.grey-background h4 {	margin-bottom: 10px; }
.grey-background {	font-size: 12px; line-height: 14px; padding-top: 30px; border-top: 5px solid #EEEEEE; margin-top: 20px; }
.breadcrumb a{	color: #999999; font-size: 11px; }
.breadcrumb a:hover { color: #dc0053; }
.category-head {	border-bottom: 5px solid #EEEEEE;  padding-bottom: 20px; padding-top: 15px; margin-bottom: 25px; }
.category-head h1 {	line-height: 36px; color: #181818;  }
.no-desktop { display: none; }
.pad-top { padding-bottom: 65px; }
.sixteen .clear-both { clear: both; }
.four .clear-both { clear: none; }

/********** CATEGORY *************/
.product-list .product-box { position: relative;  padding-top: 15px; padding-left: 10px; padding-right: 10px; padding-bottom: 20px; width: 95%; border-bottom: 1px solid #EEEEEE; }
.product-list .product-box:hover {	border: 1px solid #EEEEEE; -webkit-box-shadow: 0px 0px 20px #CCCCCC; -moz-box-shadow: 0px 0px 20px #CCCCCC; box-shadow: 0px 0px 20px #CCCCCC; padding-top: 14px; padding-left: 9px; padding-right: 9px; padding-bottom: 19px; z-index:999;}
.product-filter {	border-bottom: 1px solid #DDDDDD; padding-bottom: 5px; overflow: auto; overflow: hidden; }
.product-filter .display {	margin-right: 15px; float: left; padding-top: 4px; }
.product-filter .display a {	color: #dc0053; font-weight: bold; cursor: pointer; }
.product-filter .sort {	float: right; }
.product-filter select {display:inline }
.product-filter .limit {	margin-left: 15px; float: right; }
.product-compare {	width: 100%; clear: left; }
.product-compare a {	text-decoration: underline; font-weight: bold; }
.product-list > div {	overflow: auto; }
.product-list .right {	float: right; margin-left: 15px; }
.product-list > div + div {	padding-top: 16px; }
.product-list .image {	float: left; margin-right: 20px; }
.product-list .name {	margin-bottom: 3px; }
.product-list .name a {	font-weight: bold; color: #dc0053; text-decoration: none; }
.product-list .description {	line-height: 15px; margin-bottom: 5px; color: #4D4D4D; font-size: 11px; }
.product-list .rating {	color: #7B7B7B; }
.product-list .price {	float: right; height: 50px; margin-left: 8px; text-align: right; color: #333333; font-size: 12px; }
.product-list .price-old {	color: #dc0053; text-decoration: line-through; }
.product-list .price-new {	font-weight: bold; }
.product-list .price-tax {	font-size: 12px; font-weight: normal; color: #BBBBBB; }
.product-list .cart {	margin-bottom: 3px; }
.product-list .wishlist a {	padding-left: 18px; display: block; background: url('../image/add.png') left center no-repeat; font-size: 12px; line-height: 18px; cursor: pointer; }
.product-list .compare a {	padding-left: 18px; display: block; background: url('../image/add.png') left 60% no-repeat; font-size: 12px; line-height: 18px; cursor: pointer; }
.product-list .compare a:hover ,
.product-list .wishlist a:hover ,
.product-grid .compare a:hover ,
.product-grid .wishlist a:hover { color: #dc0053; }
.product-grid {	width: 100%; overflow: auto; }
.product-grid > div {	width: 130px; display: inline-block; vertical-align: top; margin: 11px; zoom:1; *display: inline; _height: 30px;  padding-top: 15px; padding-left: 10px; padding-right: 10px; padding-bottom: 20px; }
.product-grid > div:hover { border: 1px solid #EEEEEE; -webkit-box-shadow: 0px 0px 20px #CCCCCC; -moz-box-shadow: 0px 0px 20px #CCCCCC; box-shadow: 0px 0px 20px #CCCCCC; margin: 10px;}
.product-grid .image {	display: block; margin-bottom: 0px; }
.product-grid .name a {	color: #dc0053; font-weight: bold; text-decoration: none; display: block; margin-bottom: 4px; }
.product-grid .description {	display: none; }
.product-grid .rating {	display: block; margin-bottom: 4px; }
.product-grid .price {	display: block;  font-size: 11px; line-height: 15px;  margin-bottom: 4px; }
.product-grid .price-old {	color: #dc0053; text-decoration: line-through; }
.product-grid .price-new {	font-weight: bold; }
.product-grid .price .price-tax {	display: none; }
.product-grid .wishlist a {	padding-left: 18px; display: block; background: url('../image/add.png') left center no-repeat; font-size: 12px; line-height: 18px; cursor: pointer; }
.product-grid .compare a {	padding-left: 18px; display: block; background: url('../image/add.png') left center no-repeat; font-size: 12px; line-height: 18px; cursor: pointer; }
.product-box a.button,
.product-box button,
.product-box input[type="submit"],
.product-box input[type="reset"],
.product-box input[type="button"] { background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */ background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ border: 1px solid #EEEEEE; padding: 4px 12px;  -moz-border-radius: 3px;   -webkit-border-radius: 3px; border-radius: 3px;  color: #dc0053;  display: inline-block;  font-size: 11px;  font-weight: bold;  text-decoration: none; cursor: pointer; margin-bottom: 20px;  line-height: 21px; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.product-box a.button:hover,
.product-box button:hover,
.product-box input[type="submit"]:hover,
.product-box input[type="reset"]:hover,
.product-box input[type="button"]:hover { background: #eeeeee; /* Old browsers */ background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */ background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */ }


/********** PAGINATION ************/
.pagination {	border-top: 1px solid #DDDDDD; padding-top: 8px; display: inline-block; width: 100%; margin-bottom: 10px; }
.pagination .links {	float: left; }
.pagination .links a {	display: inline-block; border: 1px solid #EEEEEE; padding: 4px 10px; text-decoration: none; color: #A3A3A3; }
.pagination .links b {	display: inline-block; border: 1px solid #269BC6; padding: 4px 10px; font-weight: normal; text-decoration: none; background: #FFFFFF; }
.pagination .results {	float: right; padding-top: 3px; }

/********* COMPARE ************/
.compare-info {	border-collapse: collapse; width: 100%; margin-bottom: 20px; }
.compare-info tr td:first-child {	text-align: right; }
.compare-info td {	padding: 7px; width: 20%; text-align: center; vertical-align: top; border-bottom: 1px solid #DDDDDD; }
.compare-info .price-old {	color: #dc0053; text-decoration: line-through; }
.compare-info .price-new {	font-weight: bold; }

/*********** CART CHECKOUT *************/
.cart-info table {	width: 100%; margin-bottom: 20px; border-collapse: collapse; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; }
.cart-info td {	padding: 7px; }
.cart-info thead td {	font-weight: bold; background-color: #F7F7F7; border-bottom: 1px solid #DDDDDD; }
.cart-info thead .remove, .cart-info thead .image {	text-align: center; }
.cart-info thead .name, .cart-info thead .model {	text-align: left; }
.cart-info tbody td {	vertical-align: top; border-bottom: 1px solid #DDDDDD; }
.cart-info tbody .remove {	vertical-align: middle; }
.cart-info tbody .remove, .cart-info tbody .image {	text-align: center; }
.cart-info tbody .name, .cart-info tbody .model {	text-align: left; }
.cart-info tbody span.stock {	color: #dc0053; font-weight: bold; }
.cart-module .cart-heading {	border: 1px solid #DBDEE1; padding: 8px 8px 8px 22px; font-weight: bold; font-size: 13px; margin-bottom: 15px; cursor: pointer; background: #F8F8F8 url('../image/arrow-right.png') 10px 50% no-repeat; }
.cart-module .active {	background: #F8F8F8 url('../image/arrow-down.png') 7px 50% no-repeat; }
.cart-module .cart-content { padding: 0px 0px 15px 0px; }
.cart-total {	border-top: 1px solid #DDDDDD; overflow: auto; padding-top: 8px; margin-bottom: 15px; }
.cart-total table {	float: right; }
.cart-total td {	padding: 3px; text-align: right; }
.cart-total .checkout-btn { padding: 10px  50px; font-size:18px }
.checkout-heading {	background: #F8F8F8; border: 1px solid #DBDEE1; padding-top: 8px;  padding-bottom: 8px; font-weight: bold; font-size: 13px; margin-bottom: 15px; float: left; width: 100%; }
.checkout-heading .checkout-type { float: left; width: 50%; padding-left: 8px; }
.checkout-heading .checkout-modify {float: right; width: 30%; text-align: right; padding-right: 8px;}
.checkout-heading .checkout-modify a {  font-weight: normal; text-decoration: none; }
.checkout-content {	padding: 0px 0px 15px 0px; display: none; overflow: auto; float: left; width: 100%; }
.checkout-content .left {	float: left; width: 48%; }
.checkout-content .right {	float: right; width: 48%; }
.checkout-content .buttons {	clear: both; }
.checkout-product { width: 100%; }
.checkout-product table {	width: 100%; border-collapse: collapse; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; margin-bottom: 20px; }
.checkout-product td {	padding: 7px; }
.checkout-product thead td {	font-weight: bold; background-color: #F7F7F7; border-bottom: 1px solid #DDDDDD; }
.checkout-product thead .name, .checkout-product thead .model {	text-align: left; }
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {	text-align: right; }
.checkout-product tbody td { vertical-align: top; border-bottom: 1px solid #DDDDDD; }
.checkout-product tbody .name, .checkout-product tbody .model {	text-align: left; }
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {	text-align: right; }
.checkout-product tfoot td {	text-align: right; border-bottom: 1px solid #DDDDDD; }


/******************* ACCOUNT SYSTEM *********************/
.order-list {	margin-bottom: 10px; }
.order-list .order-id {	width: 49%; float: left; margin-bottom: 2px; }
.order-list .order-status {	width: 49%; float: right; text-align: right; margin-bottom: 2px; }
.order-list .order-content {	padding: 10px 0px; display: inline-block; width: 100%; margin-bottom: 20px; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; }
.order-list .order-content div {	float: left; width: 33.3%; }
.order-list .order-info {	text-align: right; }
.order-detail {	background: #EFEFEF; font-weight: bold; }
table.list {	border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px; }
table.list td {	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; }
table.list thead td {	background-color: #EFEFEF; padding: 0px 5px; }
table.list thead td a, .list thead td {	text-decoration: none; color: #222222; font-weight: bold; }
table.list tbody td a {	text-decoration: underline; }
table.list tbody td {	vertical-align: top; padding: 0px 5px; }
table.list .left {	text-align: left; padding: 7px; }
table.list .right {	text-align: right; padding: 7px; }
table.list .center {	text-align: center; padding: 7px; }
.return-list {	margin-bottom: 10px; }
.return-list .return-id {	width: 49%; float: left; margin-bottom: 2px; }
.return-list .return-status {	width: 49%; float: right; text-align: right; margin-bottom: 2px; }
.return-list .return-content {	padding: 10px 0px; display: inline-block; width: 100%; margin-bottom: 20px; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; }
.return-list .return-content div {	float: left; width: 33.3%; }
.return-list .return-info {	text-align: right; }
.return-product {	overflow: auto; margin-bottom: 20px; }
.return-name {	float: left; width: 33.3%; }
.return-model {	float: left; width: 33.3%; }
.return-quantity {	float: left; width: 33.3%; }
.return-detail {	overflow: auto; margin-bottom: 20px; }
.return-reason {	float: left; width: 33.3%; }
.return-opened {	float: left; width: 33.3%; }
.return-opened textarea {	width: 98%; vertical-align: top; }
.return-remove {	float: left; width: 33.3%; padding-top: 90px; text-align: center; vertical-align: middle; }
.return-additional {	overflow: auto; margin-bottom: 20px; }
.return-comment {	float: left; width: 49%; }
.return-captcha {	float: right; width: 49%; }
.download-list {	margin-bottom: 10px; }
.download-list .download-id {	width: 49%; float: left; margin-bottom: 2px; }
.download-list .download-status {	width: 49%; float: right; text-align: right; margin-bottom: 2px; }
.download-list .download-content {	padding: 10px 0px; display: inline-block; width: 100%; margin-bottom: 20px; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; }
.download-list .download-content div {	float: left; width: 33.3%; }
.download-list .download-info {	text-align: right; }

/********** MODULES ***************/
.box {	margin-bottom: 20px; }
.box .box-heading {	border-bottom: 5px solid #EEEEEE; padding-top: 5px; padding-bottom: 8px; font-family: 'Open Sans', sans-serif; font-size: 18px; color: #dc0053; margin-bottom: 4px;}
.box-product {	width: 100%; overflow: hidden; }
.mod-horiz .box-product > div { display: inline-block;  margin: 10px; border: none;}
.mod-horiz .box-product > div:hover { border: 1px solid #EEEEEE; -webkit-box-shadow: 0px 0px 20px #CCCCCC; -moz-box-shadow: 0px 0px 20px #CCCCCC; box-shadow: 0px 0px 20px #CCCCCC; margin: 9px;}
.box-product > div { border-bottom: 1px solid #DDDDDD; padding: 10px; }
.box-product .image {	display: block; margin-bottom: 0px; float: left; margin-right: 5px; }
.box-product .name a {	font-weight: bold; text-decoration: none; display: block; line-height: 15px; color: #dc0053; }
.box-product .price {	display: block; font-size: 11px; color: #333333; margin-bottom: 4px; }
.box-product .price-old {	color: #dc0053; text-decoration: line-through; }
.box-product .price-new {	font-weight: bold; }
.box-product .rating {	display: block; margin-bottom: 4px; }
.box-product .button { margin-bottom: 0; }
.box-category {	margin-top: -5px; }
.box-category ul {	list-style: none; margin: 0; padding: 0; }
.box-category > ul > li {	padding-top: 8px; padding-bottom: 8px; margin: 0; }
.box-category > ul > li + li {	border-top: 1px solid #EEEEEE; }
.box-category > ul > li > a {	text-decoration: none; }
.box-category > ul > li a:hover { color: #dc0053; }
.box-category > ul > li ul { display: none; padding-top: 8px; }
.box-category > ul > li a.active {	font-weight: bold; }
.box-category > ul > li a.active + ul {	display: block; }
.box-category > ul > li ul > li > a {	text-decoration: none; display: block; }
.box-category > ul > li ul > li > a.active { font-weight: bold; }
.box-product a.button,
.box-product	button,
.box-product	input[type="submit"],
.box-product	input[type="reset"],
.box-product	input[type="button"] { background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */ background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ border: 1px solid #EEEEEE; padding: 4px 12px;  -moz-border-radius: 3px;   -webkit-border-radius: 3px; border-radius: 3px;  color: #dc0053;  display: inline-block;  font-size: 11px;  font-weight: bold;  text-decoration: none; cursor: pointer; margin-bottom: 20px;  line-height: 21px; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.box-product a.button:hover,
.box-product button:hover,
.box-product input[type="submit"]:hover,
.box-product input[type="reset"]:hover,
.box-product input[type="button"]:hover { background: #eeeeee; /* Old browsers */ background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */ background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */ }

/**************** MESSAGES ***************/
.success, .warning, .attention, .information { color: #FFFFFF; padding: 15px 15px 15px 35px; -webkit-box-shadow: 0px 0px 20px #CCCCCC; -moz-box-shadow: 0px 0px 20px #CCCCCC; box-shadow: 0px 0px 20px #CCCCCC;  font-size:  11px;  line-height: 15px;  margin-bottom: 20px;}
.success a, .warning a, .attention a, .information a { color: #FFFFFF; }
.success { background: #dc0053 url('../image/success.png') 10px center no-repeat; }
.warning { background: #dc0053 url('../image/warning.png') 10px center no-repeat;}
.attention { background: #dc0053 url('../image/attention.png') 10px center no-repeat; }
.success .close, .warning .close, .attention .close, .information .close { float: right; padding-top: 4px; padding-right: 4px; cursor: pointer; }
.required { color: #FF0000; font-weight: bold; }
.error { display: block; color: #FF0000; font-size: 10px; margin-top: -10px; }
.help { color: #999; font-size: 10px; font-weight: normal; display: block;}
.pop-content { border: 1px solid #EEEEEE; -webkit-box-shadow: 0px 0px 20px #CCCCCC; -moz-box-shadow: 0px 0px 20px #CCCCCC; box-shadow: 0px 0px 20px #CCCCCC; padding:25px; margin-bottom: 15px; }
#notification { position: fixed; right: 20px; top: 20px; z-index: 999; width: 20%; min-width: 200px; }

/***************** PRODUCTS PAGE ******************/
.product-info .pop-content { padding-left: 0; padding-right: 0; padding-top: 5px; padding-bottom: 5px; }
.product-info .indent-content { padding-left: 25px; padding-right: 25px; padding-top: 15px; padding-bottom: 20px; }
.product-info .image { float: left; padding: 10px; text-align: center; width: 90%; }
.product-info .image img { width: 100%; }
.product-info .image-additional {clear: both; overflow: hidden; }
.product-info .image-additional a { float: left; display: block; margin-left: 8px; margin-bottom: 10px; }
.product-info .description { margin-bottom: 10px; }
.product-info #button-cart { padding: 10px  50px; font-size:18px }
.product-info .price {  width: 75%; font-size: 16px; color: #FFFFFF;  padding-left: 25px; padding-right: 25px; padding-top: 18px; padding-bottom: 15px;  background: #dc0053; /* Old browsers */ background: -moz-linear-gradient(top,  #dc0053 0%, #aa001f 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc0053), color-stop(100%,#aa001f)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #dc0053 0%,#aa001f 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #dc0053 0%,#aa001f 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #dc0053 0%,#aa001f 100%); /* IE10+ */ background: linear-gradient(top,  #dc0053 0%,#aa001f 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0053', endColorstr='#aa001f',GradientType=0 ); /* IE6-9 */ }
.product-related .price { background: none; color: #181818; font-size: 12px; padding: 0; margin-top: 3px; margin-bottom: 3px; }
.product-info .price-old { color: #CCCCCC; text-decoration: line-through; }
.product-info .price-tax { font-size: 11px; font-weight: normal; color: #CCCCCC; }
.product-info .price .reward { font-size: 11px; font-weight: normal; color: #CCCCCC; }
.product-info .price .discount { font-weight: normal; font-size: 11px; }
.product-info input { margin-bottom: 10px; }
.product-info .option-image { margin-top: 3px; margin-bottom: 10px; }
.product-info .option-image label { display: block; width: 100%; height: 100%; }
.product-info .option-image img { margin-right: 5px; border: 1px solid #CCCCCC; cursor: pointer; }
.product-info .cart { border-bottom: 1px solid #E7E7E7; padding: 0px 5px 0px 5px; overflow: auto; }
.product-info .cart div { float: left; }
.product-info .cart div > span { padding-top: 5px; display: block; color: #999999; }
.product-info .cart .makeawish { padding-top: 12px;  padding-left: 10px; }
.product-info .cart .makeawish a { cursor: pointer; }
.product-info .cart .minimum { padding-top: 5px; font-size: 11px; color: #999999; clear: both; }
.product-info .review > div {  line-height: 20px; }
.product-info .review .share { overflow: auto; line-height: normal; }
.product-info .review .share a { text-decoration: none; }
.product-info b, .product-info strong { font-weight: bold; color: #181818; }
.attribute { border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;  }
.attribute thead td, .attribute thead tr td:first-child {  font-size: 13px; color: #181818; background: #F7F7F7; text-align: left; }
.attribute tr td:first-child { font-weight: bold; text-align: right; width: 20%; }
.attribute td { padding: 7px; text-align: center; vertical-align: top; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; }
.compare-info { border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px; }
.compare-info thead td, .compare-info thead tr td:first-child { font-size: 14px; font-weight: bold; background: #F7F7F7; text-align: left; }
.compare-info tr td:first-child { font-weight: bold; text-align: right; }
.compare-info td { padding: 7px; width: 20%;  text-align: center; vertical-align: top; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; }
.compare-info .name a { font-weight: bold; }
.compare-info .price-old { font-weight: bold; color: #dc0053; text-decoration: line-through; }
.compare-info .price-new { font-weight: bold; }

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {		.featured-wrap { height: 340px; overflow: hidden; }	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {		
		body { background-color: #FFFFFF; }
		.featured-wrap { height: 340px;  overflow: hidden; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {		
		.top-elements { float: left; text-align: left; }
		#menu-wrapper { clear: both; background-color: #FFFFFF; width: 100%; height: auto; position: relative; }
		#menu { float: left; clear: both; height: auto; position: relative; width: 100%;  margin: 0 !important;  }
		#menu ul { list-style: none; margin: 0; padding: 0; clear: both; }
		#menu > ul > li { position: relative; display: block; clear: both; width: 100%; margin: 0; padding: 0; color: #222222; font-weight: bold; text-shadow: 0 1px rgba(255, 255, 255, .75); background: #eee; /* Old browsers */ background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */ background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */ background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */ background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */ background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */ background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */ border-bottom: 1px solid #CCCCCC; }
		#menu > ul > li:hover { color: #222; background: #ddd; /* Old browsers */ background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */ background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */ background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */ background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */ background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */ background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */ }
		#menu > ul > li > a { text-decoration: none; display: block; clear: both; padding: 8px; margin: 0;  color: #181818; width: 95%; font-size: 13px; }
		#menu > ul > li > div { display: none; }
		#menu > ul > li:hover > div { display: none; }
		.product-list .product-box:hover,
		.product-grid .product-box:hover,
		.mod-horiz .box-product > div:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; margin-left: 30px; margin-right: 30px; }
		.manufacturers, .slideshow, #cart, .no-mobile { display: none; }
		.container {  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none;  }
		.mod-horiz .box-product > div { display: inline-block;  margin-top: 10px; margin-bottom: 10px; margin-left: 30px; margin-right: 30px; border: none;}
		.cart-info thead td.image, 
		.cart-info thead td.model,
		.cart-info tbody td.image, 
		.cart-info tbody td.model	,
		.cart-info thead td.remove, 
		.cart-info tbody td.remove { display: none; }
		.no-desktop { display: block; background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */ background: linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ border-top: 1px solid #EEEEEE; }
		.no-desktop a.button { margin: 10px; background: #dc0053; /* Old browsers */ background: -moz-linear-gradient(top,  #dc0053 0%, #a50023 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc0053), color-stop(100%,#a50023)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #dc0053 0%,#a50023 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #dc0053 0%,#a50023 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #dc0053 0%,#a50023 100%); /* IE10+ */ background: linear-gradient(top,  #dc0053 0%,#a50023 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0053', endColorstr='#a50023',GradientType=0 ); /* IE6-9 */ color: #FFFFFF; border: none; text-shadow: none; }
		.pad-top { padding-bottom: 0px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {		
		#logo img { width: 100%; }
		.top-elements { float: left; text-align: left; }
		#menu-wrapper { clear: both; background-color: #FFFFFF; width: 100%; height: auto; position: relative; }
		#menu { float: left; clear: both; height: auto; position: relative; width: 100%; margin: 0 !important; }
		#menu ul { list-style: none; margin: 0; padding: 0; clear: both; }
		#menu > ul > li { position: relative; display: block; clear: both; width: 100%; margin: 0; padding: 0; font-weight: bold; text-shadow: 0 1px rgba(255, 255, 255, .75); background: #eee; /* Old browsers */ background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */ background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */ background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */ background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */ background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */ background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */ border-bottom: 1px solid #CCCCCC; }
		#menu > ul > li:hover { color: #222; background: #ddd; /* Old browsers */ background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */ background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */ background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */ background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */ background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */ background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */ }
		#menu > ul > li > a { text-decoration: none; display: block; clear: both; padding: 8px; margin: 0; color: #181818; width: 100%; font-size: 13px; }
		#menu > ul > li > div { display: none; }
		#menu > ul > li:hover > div { display: none; }
		.manufacturers, slideshow, #cart, .featured-wrap, .no-mobile { display: none; }
		.container {  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none;  }
		.cart-info thead td.image, 
		.cart-info thead td.model,
		.cart-info tbody td.image, 
		.cart-info tbody td.model	,
		.cart-info thead td.remove, 
		.cart-info tbody td.remove { display: none; }
		.mod-horiz .box-product > div {   margin: 0px; border-bottom: 1px solid #CCCCCC; width: 100%;}
		.product-grid .product-box { position: relative; padding-top: 15px; padding-left: 10px; padding-right: 10px; padding-bottom: 20px; width: 100%; border-bottom: 1px solid #CCCCCC;}
		.product-box .image { float: left; margin-right: 10px; margin-bottom: 10px;}
		.product-grid,
		.product-list { overflow: hidden; }
		.product-list .product-box:hover,
		.product-grid .product-box:hover,
		.mod-horiz .box-product > div:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-top: none;  border-right: none; border-left: none; margin: 0px; }
		.no-desktop { display: block; background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */ background: linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ border-top: 1px solid #EEEEEE; }
		.no-desktop a.button { margin: 10px; background: #dc0053; /* Old browsers */ background: -moz-linear-gradient(top,  #dc0053 0%, #a50023 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc0053), color-stop(100%,#a50023)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #dc0053 0%,#a50023 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #dc0053 0%,#a50023 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #dc0053 0%,#a50023 100%); /* IE10+ */ background: linear-gradient(top,  #dc0053 0%,#a50023 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0053', endColorstr='#a50023',GradientType=0 ); /* IE6-9 */ color: #FFFFFF; border: none; text-shadow: none; }
		.product-list .name { clear: both; }
		.pad-top { padding-bottom: 0px; }
		.sixteen .clear-both { clear: none; }
	}
