{% extends "base.html" %}

{% block page_title %}About Us{% endblock %}
{% block class %}about{% endblock %}

{% block content %}

<div id="main-content">
	<div class="container clearfix">
		<div class="twelve columns alpha equal">
			<h1>About <span class="yellow">Us</span></h1>
			<p class="oversized">Producers across the country trust Ohio HD Video when network quality crews and production gear are needed throughout Ohio and the Midwest. With over 20 years in the business, we know your expectations are high, and we work to exceed them everyday.</p>

			<p>Our DPs have years of real-world experience with a wide range of cameras and formats. Whether you choose to shoot an Arri, Sony, Panasonic, or Canon, Ohio HD VIdeo knows cameras and how to get the most out of each one.</p>

			<p>Our rental gear division is strong with over 35 camera packages in-house, a large lens inventory, and resources that stretch across the country. If we don't have it, we can get it.</p>
			
			<div class="row">
				<h3>Crew Bios</h3>

				<div class="bio clearfix">
					<img src="{{ STATIC_URL }}img/headshot_scott-handel.jpg" width="180" height="200" alt="Scott Handel" class="headshot">
					<h5 class="dkgrey">Scott Handel</h5>
					<p>At the heart of Ohio HD Video is 20 year veteran Directory of Photography, Scott Handel. Scott brings a combination of lighting skills and an eye for framing detail to a wide range of diverse projects. From Network-level ENG, Magazine Shows, Reality TV, Commercial Production, Corporate Video, Web or Satellite Media Tours, Scott and his crews always deliver the images that keep producers coming back year after year. Recent clients include, Discovery Channel, ABC, FOX News, FOX Sports, Big Ten Network, ESPN, Chase Bank, Purina, Gatlinburg Tourism, Victoria's Secret and more.</p>
				</div>

				<div class="bio clearfix">
					<img src="{{ STATIC_URL }}img/headshot_casey-hunter.jpg" width="180" height="200" alt="Casey Hunter" class="headshot">
					<h5 class="dkgrey">Casey Hunter</h5>
					<p>Since he was a child Casey was fascinated with how things worked. He was always tearing something apart, salvaging parts, and making his own creations.  Casey came to Ohio HD Video with Bachelor's of Science in Computer Information Systems from DeVry University and a keen interest in filmmaking. By working hands-on with the equipment at Ohio HD Video, as well as on live sets, Casey has become valued member of the production community as "the guy with all the answers." If you find yourself with Casey on set working as an AC, Camera Tech or DIT, you know your production is in great hands.</p>
			</div>
				
				<div class="bio clearfix">
					<img src="{{ STATIC_URL }}img/headshot_david-jefferies.jpg" width="180" height="200" alt="David Jefferies" class="headshot">
					<h5 class="dkgrey">David Jefferies</h5>
					<p>David has always been involved with some kind of technical and creative industry. Whether in theater, building sets and working in sound and lighting or in world of production honing his craft with an attention to framing and shaping light. While attending Ohio University David continued to work as a production and camera assistant in the film industry in Cleveland. At Ohio HD Video David is working with cutting edge of camera technology to sculpt his photographic eye and is proven leader on set.</p>
				</div>
				
				<div class="bio clearfix">
					<img src="{{ STATIC_URL }}img/headshot_john-thorne.jpg" width="180" height="200" alt="John Thorne" class="headshot">
					<h5 class="dkgrey">John Thorne</h5>
					<p>John tackles each project with a positive, team-oriented attitude and has applied his diverse skill set in a variety of industries including marketing, customer relations management and live television production. John earned a degree from Hocking College in Audio/Video Production and has shot and edited projects for a range of clients including Walmart, Macy's, MSN and McDonald's.</p>
				</div>
			</div>
			
		</div>
		
		<div class="four columns omega sidebar equal">
			<h3>Featured Clients</h3>
			<img src="{{ STATIC_URL }}img/client_ae.png" width="80" height="80" alt="AE Networks" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_big-ten-network.png" width="80" height="80" alt="Big Ten Network" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_cnn.png" width="80" height="80" alt="CNN" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_discovery.png" width="80" height="80" alt="Discovery" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_entertainment-television.png" width="80" height="80" alt="Entertainment Television" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_espn.png" width="80" height="80" alt="ESPN" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_fox-news.png" width="80" height="80" alt="Fox News" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_history-channel.png" width="80" height="80" alt="History Channel" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_lifetime.png" width="80" height="80" alt="Lifetime" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_nickelodeon.png" width="80" height="80" alt="Nickelodeon" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_ohio-state.png" width="80" height="80" alt="The Ohio State University" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_own.png" width="80" height="80" alt="Opera Winfrey Network" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_victorias-secret.png" width="80" height="80" alt="Victoria's Secret" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_pink.png" width="80" height="80" alt="Pink by Victoria's Secret" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_purina-mills.png" width="80" height="80" alt="Purina Mills" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_wifeswap.png" width="80" height="80" alt="Wife Swap" class="featured-client">
			<img src="{{ STATIC_URL }}img/client_wwe.png" width="80" height="80" alt="WWE" class="featured-client">
		</div>
		
		<div class="row">
			<hr/>
			<h3>Credit List</h3>
			<div class="client-list column alpha">
				<strong>BROADCAST CREDITS</strong>
				<ul>
					<li>Jack Hanna's Animal Adventures</li>
					<li>Harpo Studios</li>
					<li>Animal Makeover</li>
					<li>Victoria Secret Fashion Show</li>
					<li>Evening News - CBS</li>
					<li>American Eats - History Channel</li>
					<li>Squawk Box -CNBC</li>
					<li>HSN</li>
					<li>ABC Sports</li>
					<li>ABC News</li>
					<li>CBS News</li>
					<li>NBC News</li>
					<li>FOX News</li>
					<li>FOX Sports</li>
					<li>ESPN</li>
					<li>ESPN2</li>
					<li>Speed Channel</li>
					<li>Lifetime Television</li>
					<li>Discovery Health Channel</li>
					<li>WGBH - Boston</li>
					<li>FOX Family Television</li>
					<li>Travel Channel</li>
					<li>GMTV - Great Britian</li>
					<li>60 Minutes - Australia</li>
					<li>ProSeiben - Germany</li>
					<li>E! True Hollywood Story</li>
					<li>A&amp;E Biography</li>
					<li>2008 DNC</li>
					<li>A&amp;E Investigative Reports</li>
				</ul>
			</div>
			<div class="client-list column">
				<ul>
					<li>HGTV</li>
					<li>"My Classic Car"</li>
					<li>TV LAND</li>
					<li>Time Life</li>
					<li>Golf Channel</li>
					<li>This Week</li>
					<li>Fox Broadcasting</li>
					<li>FOX Business</li>
					<li>On The Record Greta Van Susteren</li>
					<li>The O'Reilly Factor Bill O'Reilly</li>
					<li>Part2 Pictures</li>
					<li>Jim Rome show</li>
					<li>Montel Williams</li>
					<li>WWE</li>
					<li>The Daily Show</li>
					<li>BBC</li>
					<li>Court TV</li>
					<li>Discovery Channel</li>
					<li>CBS "Early Show"</li>
					<li>Sci-Fi Channel</li>
					<li>Oprah Winfrey Show</li>
					<li>"Modern Marvels"</li>
					<li>"American Justice"</li>
					<li>NASCAR Images</li>
					<li>Speed Channel</li>
					<li>NBC News</li>
					<li>History Channel</li>
					<li>ESPN</li>
					<li>Animal Planet</li>
					<li>ABC News</li>
					<li>Lifetime Channel</li>
				</ul>
			</div>
			<div class="client-list column">
				<ul>
					<li>Weather Channel</li>
					<li>Towers Productions</li>
					<li>CBS Productions</li>
					<li>Food Network</li>
					<li>Rachael Ray</li>
					<li>Fox Sports</li>
					<li>MSG Network</li>
					<li>NHL Network</li>
					<li>HBO</li>
					<li>HBO Sports</li>
					<li>Cinemax</li>
					<li>Jack Morton Company</li>
					<li>Hard Copy</li>
					<li>Inside Edition</li>
					<li>E! Entertainment</li>
					<li>Americas Most Wanted</li>
					<li>CNBC</li>
					<li>MSNBC</li>
					<li>PBS - Championship Ballroom Dancing</li>
					<li>PBS - Antiques Roadshow</li>
					<li>EXTRA!</li>
					<li>National Geographic</li>
					<li>CNN</li>
					<li>HDNET</li>
					<li>Bloomberg Television</li>
					<li>Microsoft</li>
					<li>PAX - "It's A Miracle"</li>
					<li>Moneyline</li>
					<li>Ivanhoe Broadcast News</li>
					<li>NBC - Phenomenon</li>
					<li>Health Week</li>
				</ul>
			</div>
			<div class="client-list column">
				<ul>
					<li>Nickelodeon</li>
					<li>CBS News</li>
					<li>Ultimate Gaming House</li>
					<li>FOX - Scariest Places on Earth</li>
					<li>History - Weapons at War</li>
					<li>ABC - Wifeswap</li>
					<li>Beauty and The Geek</li>
					<li>Good Morning America</li>
					<li>"Worst Case Scenario"</li>
					<li>Disney</li>
					<li>TLC - How I Lost 100 Pounds</li>
				</ul>
				
				<strong>CORPORATE CLIENTS</strong>
				<ul>
					<li>Purina</li>
					<li>Ford</li>
					<li>Nortel</li>
					<li>Syngenta</li>
					<li>ALSHAYA</li>
					<li>Limited Brands</li>
					<li>Abbott Nutrition</li>
					<li>Freightliner</li>
					<li>Nike</li>
					<li>Ohio University</li>
					<li>Reach Out Wireless</li>
					<li>Samsung</li>
					<li>Charles Penzone</li>
					<li>Columbus Blue Jackets</li>
					<li>Buybacks</li>
					<li>The Ohio Masonic Home</li>
					<li>Mheana</li>
					<li>Nami</li>
					<li>AT&amp;T</li>
				</ul>
			</div>
			<div class="client-list column omega">
				<ul>
					<li>The Ohio State University</li>
					<li>Anchor Hocking Glass</li>
					<li>Newell Rubbermaid</li>
					<li>Longaberger Basket Company</li>
					<li>Pampered Chef</li>
					<li>Borden Foods Corp.</li>
					<li>Subway</li>
					<li>BancOne Corp.</li>
					<li>COSI</li>
					<li>City of Coumbus</li>
					<li>Ohio Dept. of Youth Services</li>
					<li>Honda of America</li>
					<li>Limited Too</li>
					<li>Justice for Girls</li>
					<li>Chase Bank</li>
					<li>Express</li>
					<li>Lane Bryant</li>
					<li>Charming Shops</li>
					<li>Limited Stores</li>
					<li>Victoria Secret Stores</li>
					<li>Southern Living At Home</li>
					<li>Fortune Magazine</li>
					<li>Ohio Health</li>
					<li>Riverside Hospital</li>
					<li>Mount Carmel Hospital</li>
					<li>The Ohio Masonic Home</li>
					<li>Mac Tools</li>
					<li>Target</li>
					<li>Texas Instruments</li>
					<li>Wendy's International</li>
					<li>White Castle Hamburgers</li>
				</ul>
			</div>
		</div><!-- End client list columns -->
	</div><!-- End Container -->
</div>

{% endblock %}