{% extends "base.html" %}

{% block page_title %}{{ category.name }}{% endblock %}
{% block class %}gear{% endblock %}

{% block content %}
<!-- Start category -->
<div id="hero">
	<div class="container clearfix">
		<h2>We have Ohio's <span class="ltblue">largest selection</span> of film, HD &amp; cine <span class="yellow">cameras and lenses.</span></h2>
	</div>	
</div>

<!-- sixteen column block for 5 column of product -->
<div id="main-content">
	<div class="container clearfix">
		<div class="products twelve columns alpha">
			
			<h1>{{ category.name }}</h1>
			{% with products=category.get_products %}					
				{% for product in products %}
					<!-- print out category products -->
					<div class="three columns product">
						<a href="{{product.get_absolute_url}}" class="img-block">
							<img src="{{ product.get_product_image.image.url }}" alt="{{ product.get_product_image.description }}">
						</a>
						<a href="{{product.get_absolute_url}}">{{product.name}}</a>
					</div>							
					{% if forloop.counter|divisibleby:"4" and not forloop.last %}
						<hr>
					{% endif %}
				{% endfor %}
			{% endwith %}
			<div class="sub-category clearfix">				
				{% for subcategory in subcategories %}
					{% if not forloop.first %}
						<hr>
					{% endif %}
					<a href="{{subcategory.get_absolute_url}}"><h3>{{subcategory.name}}</h3></a>
					
					{% if subcategory.get_products %}
						{% with products=subcategory.get_products %}					
							{% for product in products %}
								<!-- print out subcategory products -->
								<div class="three columns product">
									<a href="{{product.get_absolute_url}}" class="img-block">
										<img src="{{ product.get_product_image.image.url }}" alt="{{ product.get_product_image.description }}">
									</a>
									<a href="{{product.get_absolute_url}}">{{product.name}}</a>
								</div>							
								{% if forloop.counter|divisibleby:"4" and not forloop.last %}
									<hr>
								{% endif %}
							{% endfor %}
						{% endwith %}
					{% endif %}
                {% endfor %}
			</div><!-- End Sub Category -->
			
		</div><!-- products -->
		<div class="four columns omega sidebar">
			<h3>Product Categories</h3>
			<ul id="gear-nav">
				{% for category in categories %}
					<li class="category-parent">
						<a href="{{ category.get_absolute_url }}"><i></i>{{ category.name }}</a>
						<ul class="sub-nav" style="display: none">
							{% for sub in all_subs %}
								{% ifequal sub.parent_category.name category.name %}
									<li><a href="{{ sub.get_absolute_url }}"><i></i>{{ sub.name }}</a></li>
								{% endifequal %}
							{% endfor %}
						</ul>
					</li>
                {% endfor %}
			</ul>
			
		</div><!-- End Product Sidebar -->

	</div><!-- End Container -->
</div><!-- End main content -->
<!-- End category -->
{% endblock %}