{% extends "base.html" %}

{% block page_class %}category-page{% endblock %}
{% block content %}
<!-- sixteen column block for 5 column of product -->
<div class="sixteen columns">
	<div class="mod-horiz">
		<div class="box">
			<div class="box-heading">{{ categoryObj.name }}</div>
			<div class="box-content">
				<div class="box-product">
					{% for product in products %}
						<div>
		                    <div class="image clear-both"><a href="{{product.get_absolute_url}}">
		                  		<img src="{{ product.get_product_image.image.url }}" alt="{{ product.get_product_image.description }}" /></a>
		                    </div>
							<div class="name clear-both">
								<a href="{{product.get_absolute_url}}">{{product.name}}</a>
							</div>
							<div class="price">{{product.price}}</div>
							<!--div class="cart">
								<form action="{% url cart_item_add %}" method="POST">
						              {% csrf_token %}
						              <input type="hidden" name="add_item_id" value="{{ product.id }}" />
						              <a id="button-cart" class="button" onclick="$(this).parent().submit();return false;"><span>Rent Now</span></a>
						        </form>
							</div-->
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
