{% extends "base.html" %}

{% block page_title %}Crew Terms{% endblock %}
{% block class %}crew-terms{% endblock %}

{% block content %}

<div id="main-content">
	<div class="container clearfix">
		<div class="twelve columns alpha equal" style="height: 827px; overflow: visible;">
			<h1>Crew Terms</h1>
			<h4>Definition of a Day</h4>
			<ul>
				<li><strong>Crew and	equipment full day rates are based on 10 hours portal to portal.</strong> A
			minimum of a 30 minute scheduled lunch is required and included "on
			the clock" per ten hours.</li>
				<li><strong>A one half day rate is based on five
			hours portal to portal</strong>. After five hours a full day rate will be
			charged for crew time.</li>
				<li>Overtime is charged after 10 hours of labor (rates
			are $90.00 per hour for one-person crew and $175.00 per hour for
			two-person crew).</li>
			</ul>
			<h4>Other Terms &amp; Conditions</h4>
			<ul>
				<li>Payments can be made with Cash, Check, or Credit Card through PayPal.</li>
				<li>Make checks payable to "Scott Handel Productions, LLC."</li>
				<li>Rates are billed portal to portal (from Scott Handel Productions' office to location(s) and returning to office).</li>
				<li>Mileage is charged at $0.55/mile after a 50-mile round-trip allowance (per U.S. GSA allowance
				effective Jan. 1, 2006).</li>
				<li>Travel days are billed as half-days only if no shooting is performed that day.</li>
				<li>All travel and lodge expenses, vehicle mileage, flight costs, meal per diem costs and other "out of pocket" expenses are additional and/or available by bid.</li>
				<li>Video equipment rental, lease, shipping, or insurance rates are billed separately from "services" rates. Please see below for more details.</li>
				<li>Any cancellation or postponement less than 24 hours on the business day prior to a scheduled shoot, 100% of Full rate will be charged. A cancellation or postponement 24-48 hours prior to shoot day, 50% of full rate will be charged. When a cancellation occurs, we will make every attempt to "re-book the crew time and equipment, which can result in a fee savings.</li>
				<li>All Accounts and/or invoices are payable on receipt unless other arrangements have been made prior to time of booking. All accounts and/or invoices that are past due beyond the customer's terms are subject to an additional 2% per month (24% per year) service charge with a $3.00 statement fee. Out of town customers are C.O.D. and/or subject to credit approval before shoot tapes, or other materials will be released.</li>
				<li>Rates will always be negotiable, as every shoot is different (discounts for multiple day shoots)</li>
				<li>These terms are subject to change without notice at any time by Scott Handel Productions, LLC. and/or it's subcontractors, or agents.</li>
			</ul>
						
		</div><!-- End Container -->
				
		<div class="four columns omega sidebar equal" style="height: 827px; overflow: visible;">
			<h3>Location</h3>
			
			<p><strong>Ohio HD Video @The Backlot</strong><br>
				3465 Noe Bixby Rd<br>
				Columbus, Ohio 43232
			</p>
				
			<p>Pickup / Drop-off Gear<br>
				Open Weekdays 9am - 5pm</p>
				
			<p>
				<span class="label"><strong>Phone:</strong></span> 614-656-1162<br>
				<span class="label"><strong>Fax:</strong></span> 614-656-4343<br>
				<span class="label"><strong>Email:</strong></span> info@ohiohdvideo.com	
			</p>
			
			<p>Located 15 minutes South East of Downtown Columbus. <a href="{{ STATIC_URL }}download/OhioHD-directions.pdf">Download directions if you need help finding us.</a></p>
			
			<small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Ohio+Hd+Video,+Noe+Bixby+Road,+Columbus,+OH&amp;aq=0&amp;oq=Ohio+HD&amp;sll=39.907498,-82.870903&amp;sspn=0.143661,0.28307&amp;gl=us&amp;ie=UTF8&amp;hq=Ohio+Hd+Video,&amp;hnear=Noe+Bixby+Rd,+Columbus,+Ohio&amp;t=m&amp;cid=14368856923638474090&amp;ll=39.916583,-82.871075&amp;spn=0.059247,0.119991&amp;z=11&amp;iwloc=A">View Larger Map</a></small>
			<iframe width="200" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid #ccc;" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ohio+Hd+Video,+Noe+Bixby+Road,+Columbus,+OH&amp;aq=0&amp;oq=Ohio+HD&amp;sll=39.907498,-82.870903&amp;sspn=0.143661,0.28307&amp;gl=us&amp;ie=UTF8&amp;hq=Ohio+Hd+Video,&amp;hnear=Noe+Bixby+Rd,+Columbus,+Ohio&amp;t=m&amp;cid=14368856923638474090&amp;ll=39.916583,-82.871075&amp;spn=0.059247,0.119991&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
			
		</div><!-- End Sidebar -->
	</div><!-- End Container -->
</div>

{% endblock %}