{% extends "base.html" %}

{% block page_title %}Video Production Crews{% endblock %}
{% block class %}crews{% endblock %}

{% block content %}

<div id="hero">
	<div class="container clearfix">
		<h2>Our <span class="ltblue">top-notch crews</span> will keep your productions looking their <span class="yellow">best.</span></h2>
	</div>	
</div>

<div id="main-content">
	<div class="container clearfix">
		<div class="sixteen columns alpha omega">
			<h1>Production <span class="yellow">Crews</span></h1>
			<div class="row">
				<img src="{{ STATIC_URL }}img/crews_casey-with-red.jpg" width="190" height="190" alt="Crews Casey With Red" class="float-right framed">
				<p class="oversized">We know that choosing the right crew can be difficult, and choosing the wrong crew can be devastating. That's why putting together a proven crew with the right temperament, creativity, and experience is important. Our crews are battle-tested.  They arrive on time and hit the ground running, keeping your production looking great and moving on schedule.</p>
			
				<p class="oversized">We work every day to deliver dynamic, award-winning images from Columbus, Cincinnati, Dayton, Cleveland, and beyond. Our crews have tackled projects in 49 states and 17 countries.</p>
				
				<hr />
			</div>
			
			<div class="row">
				<div class="four columns alpha">
					<h3>Crew Coverage Areas</h3>
					<p>Ohio HD crews are available to a variety of locations within Ohio, Michigan, Indiana, West Virginia, Kentucky, and Pennsylvania. Special locations outside these regions are often available upon request. This map provides information for common locations and their drive-times.</p>
					
					<p><strong>Hover a location marker for detailed information.</strong></p>
					
					<img src="{{ STATIC_URL }}img/crews_book-anytime.png" width="220" height="140" alt="Book a crew 24/7">
				</div>
				
				<div class="twelve columns omega">
					<div class="drive-time-map">
						<div class="marker cincinnati tooltip" title="<span class='location'>Cincinnati, OH</span><span class='mileage'>114 miles</span><span class='drivetime'>1 hr 49 mins</span>"></div>
						<div class="marker cleveland tooltip" title="<span class='location'>Cleveland, OH</span><span class='mileage'>143 miles</span><span class='drivetime'>2 hrs 16 mins</span>"></div>
						<div class="marker toledo tooltip" title="<span class='location'>Toledo, OH</span><span class='mileage'>152 miles</span><span class='drivetime'>2 hrs 30 mins</span>"></div>
						<div class="marker canton tooltip" title="<span class='location'>Canton, OH</span><span class='mileage'>129 miles</span><span class='drivetime'>2 hrs 9 mins</span>"></div>
						<div class="marker akron tooltip" title="<span class='location'>Akron, OH</span><span class='mileage'>126 miles</span><span class='drivetime'>2 hrs 2 mins</span>"></div>
						<div class="marker dayton tooltip" title="<span class='location'>Dayton, OH</span><span class='mileage'>72 miles</span><span class='drivetime'>1 hr 15 mins</span>"></div>
						<div class="marker youngstown tooltip" title="<span class='location'>Youngstown, OH</span><span class='mileage'>181 miles</span><span class='drivetime'>2 hrs 52 mins</span>"></div>
						<div class="marker springfield tooltip" title="<span class='location'>Springfield, OH</span><span class='mileage'>45 miles</span><span class='drivetime'>50 mins</span>"></div>
						<div class="marker lima tooltip" title="<span class='location'>Lima, OH</span><span class='mileage'>92 miles</span><span class='drivetime'>1 hr 45 mins</span>"></div>
						<div class="marker zanesville tooltip" title="<span class='location'>Zanesville, OH</span><span class='mileage'>55 miles</span><span class='drivetime'>56 mins</span>"></div>
						<div class="marker wheeling tooltip" title="<span class='location'>Wheeling, WV</span><span class='mileage'>127 miles</span><span class='drivetime'>2 hrs 2 mins</span>"></div>
						<div class="marker parkersburg tooltip" title="<span class='location'>Parkersburg, WV</span><span class='mileage'>111 miles</span><span class='drivetime'>1 hr 58 mins</span>"></div>
						<div class="marker charleston tooltip" title="<span class='location'>Charleston, WV</span><span class='mileage'>162 miles</span><span class='drivetime'>2 hrs 48 mins</span>"></div>
						<div class="marker pittsburgh tooltip" title="<span class='location'>Pittsburgh, PA</span><span class='mileage'>185 miles</span><span class='drivetime'>2 hrs 59 mins</span>"></div>
						<div class="marker florence tooltip" title="<span class='location'>Florence, KY</span><span class='mileage'>121 miles</span><span class='drivetime'>1 hr 57 mins</span>"></div>
						<div class="marker louisville tooltip" title="<span class='location'>Louisville, KY</span><span class='mileage'>206 miles</span><span class='drivetime'>3 hrs 14 mins</span>"></div>
						<div class="marker lexington tooltip" title="<span class='location'>Lexington, KY</span><span class='mileage'>189 miles</span><span class='drivetime'>3 hrs 8 mins</span>"></div>
						<div class="marker frankfort tooltip" title="<span class='location'>Frankfort, KY</span><span class='mileage'>186 miles</span><span class='drivetime'>3 hrs 4 mins</span>"></div>
						<div class="marker indianapolis tooltip" title="<span class='location'>Indianapolis, IN</span><span class='mileage'>176 miles</span><span class='drivetime'>2 hrs 43 mins</span>"></div>
						<div class="marker fortwayne tooltip" title="<span class='location'>Fort Wayne, IN</span><span class='mileage'>159 miles</span><span class='drivetime'>2 hrs 59 mins</span>"></div>
						<div class="marker columbus tooltip" title="<span class='location'>Columbus, IN</span><span class='mileage'>189 miles</span><span class='drivetime'>3 hrs 6 mins</span>"></div>
						<div class="marker detroit tooltip" title="<span class='location'>Detroit, MI</span><span class='mileage'>203 miles</span><span class='drivetime'>3 hrs 19 mins</span>"></div>
						<div class="marker annarbor tooltip" title="<span class='location'>Ann Arbor, MI</span><span class='mileage'>190 miles</span><span class='drivetime'>3 hrs 9 mins</span>"></div>
					</div>
				</div>
			</div>
			
			<div class="row crew-imgs">
				<img src="{{ STATIC_URL }}img/crews-1.jpg" width="180" height="120" alt="Crews 1">
				<img src="{{ STATIC_URL }}img/crews-2.jpg" width="180" height="120" alt="Crews 2">
				<img src="{{ STATIC_URL }}img/crews-3.jpg" width="180" height="120" alt="Crews 3">
				<img src="{{ STATIC_URL }}img/crews-4.jpg" width="180" height="120" alt="Crews 4">
				<img src="{{ STATIC_URL }}img/crews-5.jpg" width="180" height="120" alt="Crews 5" style="margin-right: 0;">
			</div>
			
			<div class="well clearfix">
				<h3 class="headline">Ready to book a production crew with us?</h3>
				<a class="button float-right" href="/contact/">Contact Us</a>
			</div>
			
			<div class="row">
				<div class="blue-box-contrast">
					<h3 class="add-bottom">What can you expect when you book a crew 
						<br>with Ohio HD Video?</h3>
					<ul class="circle">
						<li>We create a collaborative creative environment on-set.</li>
						<li>We will work to understand your project to create images that will have to most impact.</li>
						<li>Our crews arrive on time and ready to face the challenges of the day with a positive attitude and an air of professionalism.</li>
						<li>We work with you to make sure we have to right gear to match the shoot requirements.</li>
						<li>Our standard package is anything but standard.  Our van is stocked with all the latest lighting, grip and gadgetry to insure we get the shot every time!</li>
						<li>A vast network of "A" list freelancers that run the gamut from DPs, Sound Techs, Gaffers, Grips, Data Wranglers, PAs, Teleprompter Ops, and Stylists. </li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<h3 class="add-top">Here's what some of our clients have been saying about Ohio HD</h3>
				
				<div class="eight columns alpha">		
					<blockquote>
						<span class="lquo">“</span>
						<p>Scott Handel and his entire crew could not have handled such a delicate story any better. Not only were they true professionals; he (and the DV op, audio) really took time to get to know our guest and shoot the story in a dignified style. What could have been done in an exploitative manner, they took time to care to set-up shots that were creative and allowed us to see our guest in a way that wouldn't make the viewer uncomfortable. I would highly recommend them on any story Harpo shoots in the future. I was truly impressed by them. Please let whomever their employers are know what an outstanding team they have working for them.</p>
						<span class="rquo">”</span>
						<cite>Veronica<br>
							<span class="title">Field Producer Harpo Studios – Oprah Winfrey Show</span></cite>
					</blockquote>
				</div>
			
				<div class="eight columns omega">
					<blockquote>
						<span class="lquo">“</span>
						<p>Scott, Finally editing the Westhaven story and you are getting tons of compliments on your shooting. You guys were spectacular and I had a great time with you. I told Moneytrack they should DEFINITELY use you again!</p>
						<span class="rquo">”</span>
						<cite>Bonnie<br>
							<span class="title">Day Producer – PBS Moneytrack</span></cite>
					</blockquote>
			
					<blockquote>
						<span class="lquo">“</span>
						<p>Just wanted to thank you for all of your help this past weekend. Everyone was really pleased with your work. Really fantastic! Should we be filming in Ohio again, we certainly will give you a call.</p>
						<span class="rquo">”</span>
						<cite>Tricia<br>
							<span class="title">Production Coordinator Kaos Entertainment / TLC: How I Lost 100 Pounds</span></cite>
					</blockquote>
				</div>
			</div><!-- End quotes row -->
			
			<div class="well clearfix">
				<h3 class="headline">Ready to book a production crew with us?</h3>
				<a class="button float-right" href="/contact/">Contact Us</a>
			</div>
			
		</div><!-- End sixteen columns -->		
	</div><!-- End Container -->
</div>

{% endblock %}