{% extends "base.html" %}

{% block page_title %}Video Production Crews{% endblock %}
{% block class %}services{% endblock %}

{% block content %}

<div id="hero">
	<div class="container clearfix">
		<h2>Our <span class="ltblue">top-notch crews</span> will keep your productions looking their <span class="yellow">best.</span></h2>
	</div>	
</div>

<div id="main-content">
	<div class="container clearfix">
		<div class="sixteen columns alpha omega">
			<h1>Production <span class="yellow">Crews</span></h1>
			<img src="{{ STATIC_URL }}img/crews_casey-with-red.jpg" width="280" height="309" alt="Crews Casey With Red" class="float-right framed">
			<p class="dbl-bottom oversized">We know that choosing the right crew can be difficult and choosing the wrong crew can be devastating. That's why choosing a proven crew with the right temperament, creativity and experience is so important. Our crews show up on time and hit the ground running, keeping your production looking great and on schedule.</p>
						
			<h3 class="add-bottom">What can you expect when you book a crew with Ohio HD Video?</h3>
			<ul class="circle">
				<li>We create a collaborative creative environment on-set.</li>
				<li>We will work to understand your project to create images that will have to most impact.</li>
				<li>Our crews arrive on time and ready to face the challenges of the day with a positive attitude and an air of professionalism.</li>
				<li>We work with you to make sure we have to right gear to match the shoot requirements.</li>
				<li>Our standard package is anything but standard.  Our van is stocked with all the latest lighting, grip and gadgetry to insure we get the shot every time!</li>
				<li>A vast network of "A" list freelancers that run the gamut from DPs, Sound Techs, Gaffers, Grips, Data Wranglers, PAs, Teleprompter Ops, and Stylists. </li>
			</ul>
			
			<div class="row crew-imgs">
				<img src="{{ STATIC_URL }}img/crews-1.jpg" width="180" height="120" alt="Crews 1">
				<img src="{{ STATIC_URL }}img/crews-2.jpg" width="180" height="120" alt="Crews 2">
				<img src="{{ STATIC_URL }}img/crews-3.jpg" width="180" height="120" alt="Crews 3">
				<img src="{{ STATIC_URL }}img/crews-4.jpg" width="180" height="120" alt="Crews 4">
				<img src="{{ STATIC_URL }}img/crews-5.jpg" width="180" height="120" alt="Crews 5" style="margin-right: 0;">
			</div>
			
			<div class="well clearfix">
				<h3 class="headline">Ready to book a production crew with us?</h3>
				<a class="button float-right" href="/contact/">Contact Us</a>
			</div>
			
			<div class="row">
				<h3 class="add-top">Here's what some of our clients have been saying about Ohio HD</h3>
				
				<div class="eight columns alpha">		
					<blockquote>
						<span class="lquo">“</span>
						<p>Scott Handel and his entire crew could not have handled such a delicate story any better. Not only were they true professionals; he (and the DV op, audio) really took time to get to know our guest and shoot the story in a dignified style. What could have been done in an exploitative manner, they took time to care to set-up shots that were creative and allowed us to see our guest in a way that wouldn't make the viewer uncomfortable. I would highly recommend them on any story Harpo shoots in the future. I was truly impressed by them. Please let whomever their employers are know what an outstanding team they have working for them.</p>
						<span class="rquo">”</span>
						<cite>Veronica<br>
							<span class="title">Field Producer Harpo Studios – Oprah Winfrey Show</span></cite>
					</blockquote>
				</div>
			
				<div class="eight columns omega">
					<blockquote>
						<span class="lquo">“</span>
						<p>Scott, Finally editing the Westhaven story and you are getting tons of compliments on your shooting. You guys were spectacular and I had a great time with you. I told Moneytrack they should DEFINITELY use you again!</p>
						<span class="rquo">”</span>
						<cite>Bonnie<br>
							<span class="title">Day Producer – PBS Moneytrack</span></cite>
					</blockquote>
			
					<blockquote>
						<span class="lquo">“</span>
						<p>Just wanted to thank you for all of your help this past weekend. Everyone was really pleased with your work. Really fantastic! Should we be filming in Ohio again, we certainly will give you a call.</p>
						<span class="rquo">”</span>
						<cite>Tricia<br>
							<span class="title">Production Coordinator Kaos Entertainment / TLC: How I Lost 100 Pounds</span></cite>
					</blockquote>
				</div>
			</div><!-- End quotes row -->
			
			<div class="row">
				<h3>Featured Clients</h3>
				<img src="{{ STATIC_URL }}img/client_discovery.png" width="180" height="130" alt="Discovery Channel" class="featured-client">
				<img src="{{ STATIC_URL }}img/client_lifetime.png" width="180" height="130" alt="Lifetime Network" class="featured-client">
				<img src="{{ STATIC_URL }}img/client_cbs-news.png" width="180" height="130" alt="CBS News" class="featured-client">
				<img src="{{ STATIC_URL }}img/client_discovery-health.png" width="180" height="130" alt="Discovery Health" class="featured-client">
				<img src="{{ STATIC_URL }}img/client_abc-news.png" width="180" height="130" alt="ABC News" class="featured-client omega">				
			</div><!-- End Feature Clients row -->
			
			<div class="row">
				<h3>Credit List</h3>
				<div class="client-list column alpha">
					<strong>BROADCAST CREDITS</strong>
					<ul>
						<li>Jack Hanna's Animal Adventures</li>
						<li>Harpo Studios</li>
						<li>Animal Makeover</li>
						<li>Victoria Secret Fashion Show</li>
						<li>Evening News - CBS</li>
						<li>American Eats - History Channel</li>
						<li>Squawk Box -CNBC</li>
						<li>HSN</li>
						<li>ABC Sports</li>
						<li>ABC News</li>
						<li>CBS News</li>
						<li>NBC News</li>
						<li>FOX News</li>
						<li>FOX Sports</li>
						<li>ESPN</li>
						<li>ESPN2</li>
						<li>Speed Channel</li>
						<li>Lifetime Television</li>
						<li>Discovery Health Channel</li>
						<li>WGBH - Boston</li>
						<li>FOX Family Television</li>
						<li>Travel Channel</li>
						<li>GMTV - Great Britian</li>
						<li>60 Minutes - Australia</li>
						<li>ProSeiben - Germany</li>
						<li>E! True Hollywood Story</li>
						<li>A&amp;E Biography</li>
						<li>2008 DNC</li>
						<li>A&amp;E Investigative Reports</li>
					</ul>
				</div>
				<div class="client-list column">
					<ul>
						<li>HGTV</li>
						<li>"My Classic Car"</li>
						<li>TV LAND</li>
						<li>Time Life</li>
						<li>Golf Channel</li>
						<li>This Week</li>
						<li>Fox Broadcasting</li>
						<li>FOX Business</li>
						<li>On The Record Greta Van Susteren</li>
						<li>The O'Reilly Factor Bill O'Reilly</li>
						<li>Part2 Pictures</li>
						<li>Jim Rome show</li>
						<li>Montel Williams</li>
						<li>WWE</li>
						<li>The Daily Show</li>
						<li>BBC</li>
						<li>Court TV</li>
						<li>Discovery Channel</li>
						<li>CBS "Early Show"</li>
						<li>Sci-Fi Channel</li>
						<li>Oprah Winfrey Show</li>
						<li>"Modern Marvels"</li>
						<li>"American Justice"</li>
						<li>NASCAR Images</li>
						<li>Speed Channel</li>
						<li>NBC News</li>
						<li>History Channel</li>
						<li>ESPN</li>
						<li>Animal Planet</li>
						<li>ABC News</li>
						<li>Lifetime Channel</li>
					</ul>
				</div>
				<div class="client-list column">
					<ul>
						<li>Weather Channel</li>
						<li>Towers Productions</li>
						<li>CBS Productions</li>
						<li>Food Network</li>
						<li>Rachael Ray</li>
						<li>Fox Sports</li>
						<li>MSG Network</li>
						<li>NHL Network</li>
						<li>HBO</li>
						<li>HBO Sports</li>
						<li>Cinemax</li>
						<li>Jack Morton Company</li>
						<li>Hard Copy</li>
						<li>Inside Edition</li>
						<li>E! Entertainment</li>
						<li>Americas Most Wanted</li>
						<li>CNBC</li>
						<li>MSNBC</li>
						<li>PBS - Championship Ballroom Dancing</li>
						<li>PBS - Antiques Roadshow</li>
						<li>EXTRA!</li>
						<li>National Geographic</li>
						<li>CNN</li>
						<li>HDNET</li>
						<li>Bloomberg Television</li>
						<li>Microsoft</li>
						<li>PAX - "It's A Miracle"</li>
						<li>Moneyline</li>
						<li>Ivanhoe Broadcast News</li>
						<li>NBC - Phenomenon</li>
						<li>Health Week</li>
					</ul>
				</div>
				<div class="client-list column">
					<ul>
						<li>Nickelodeon</li>
						<li>CBS News</li>
						<li>Ultimate Gaming House</li>
						<li>FOX - Scariest Places on Earth</li>
						<li>History - Weapons at War</li>
						<li>ABC - Wifeswap</li>
						<li>Beauty and The Geek</li>
						<li>Good Morning America</li>
						<li>"Worst Case Scenario"</li>
						<li>Disney</li>
						<li>TLC - How I Lost 100 Pounds</li>
					</ul>
					
					<strong>CORPORATE CLIENTS</strong>
					<ul>
						<li>Purina</li>
						<li>Ford</li>
						<li>Nortel</li>
						<li>Syngenta</li>
						<li>ALSHAYA</li>
						<li>Limited Brands</li>
						<li>Abbott Nutrition</li>
						<li>Freightliner</li>
						<li>Nike</li>
						<li>Ohio University</li>
						<li>Reach Out Wireless</li>
						<li>Samsung</li>
						<li>Charles Penzone</li>
						<li>Columbus Blue Jackets</li>
						<li>Buybacks</li>
						<li>The Ohio Masonic Home</li>
						<li>Mheana</li>
						<li>Nami</li>
						<li>AT&amp;T</li>
					</ul>
				</div>
				<div class="client-list column omega">
					<ul>
						<li>The Ohio State University</li>
						<li>Anchor Hocking Glass</li>
						<li>Newell Rubbermaid</li>
						<li>Longaberger Basket Company</li>
						<li>Pampered Chef</li>
						<li>Borden Foods Corp.</li>
						<li>Subway</li>
						<li>BancOne Corp.</li>
						<li>COSI</li>
						<li>City of Coumbus</li>
						<li>Ohio Dept. of Youth Services</li>
						<li>Honda of America</li>
						<li>Limited Too</li>
						<li>Justice for Girls</li>
						<li>Chase Bank</li>
						<li>Express</li>
						<li>Lane Bryant</li>
						<li>Charming Shops</li>
						<li>Limited Stores</li>
						<li>Victoria Secret Stores</li>
						<li>Southern Living At Home</li>
						<li>Fortune Magazine</li>
						<li>Ohio Health</li>
						<li>Riverside Hospital</li>
						<li>Mount Carmel Hospital</li>
						<li>The Ohio Masonic Home</li>
						<li>Mac Tools</li>
						<li>Target</li>
						<li>Texas Instruments</li>
						<li>Wendy's International</li>
						<li>White Castle Hamburgers</li>
					</ul>
				</div>
			</div><!-- End client list columns -->
			
			<div class="well clearfix">
				<h3 class="headline">Ready to book a production crew with us?</h3>
				<a class="button float-right" href="/contact/">Contact Us</a>
			</div>
			
		</div><!-- End sixteen columns -->		
	</div><!-- End Container -->
</div>

{% endblock %}