{% extends "base.html" %}

{% block page_title %}Frequently Asked Questions{% endblock %}
{% block class %}faq{% endblock %}

{% block content %}

<div id="main-content">
	<div class="container clearfix">
		<div class="twelve columns alpha equal">
			<h1>Frequently Asked <span class="yellow">Questions</span></h1>
			
			<a name="basics"></a>
			<h2>Ohio HD Basics</h2>
			
			<h4>Where is Ohio HD Video located?</h4>
			<p>Ohio HD Video is located at The Backlot in Columbus, OH.<br/>

			3465 Noe Bixby Rd.
			Columbus, OH 43232</p>
			
			<h4>What are the regular hours of operation at Ohio HD Video?</h4>
			<p>We are here Monday-Friday 9a-5p.</p>

			<h4>Does Ohio HD Video sell equipment?</h4>
			<p>At this time we do not.</p>

			<h4>Does Ohio HD Video sell expendables?</h4>
			<p>At this time we do not.</p>
			
			<hr />
			
			<a name="rental-requirements"></a>
			<h2>Rental Requirements</h2>
			
			<h4>What is required to rent from Ohio HD Video?</h4>
			<p>We require that a Signed Rental Agreement form, a valid Visa or MasterCard, a Government Issued Photo ID, and a certificate of insurance. If you are renting a truck, we require a valid drivers license. All rental forms are available in the <a href="/downloads/">downloads section.</a></p>
			
			<h4>Do I need insurance to rent from Ohio HD Video?</h4>
			<p>Yes, we require:</p>
			
			<ol>
				<li><strong>Miscellaneous Rented Equipment:</strong>
						<p>Minimum limit of $1,000,000 &amp; General Liability: Minimum limit of $1,000,000</p>
				</li>
				<li><strong>The Additional Insured / Loss Payee clause must read:</strong>
						<p>Ohio HD Video is added as Loss Payee and Additional Insured.</p>
						<p>b. If a certificate of insurance cannot be produced Ohio HD Video can choose to provide a damage waiver for a rate equal to 10% of the entire rental rate. This damage waiver is offered at the discretion of Ohio HD Video and may not be extended to all lessees. The damage waiver is offered with a $2500.00 deductible. The Lessees will be responsible for any damage and lost time up to a total of $2500.00. Ohio HD Video will be responsible for damages over and above $2500.00. If the gear is lost, stollen or can not be physically returned to Ohio HD Video the coverage is voided and the lessee will be responsible for the full replacement cost. The Coverage is to be agreed upon before the rental period begins.</p>
						
						<p>If you are looking for an agent to help you with coverage, we recommend:</p>
						
						<p>T.A. Swain Insurance Group<br/>
						(614) 707-8443<br/>
						travis@taswaingroup.com</p>
				</li>
			</ol>
			
			<h4>Can I rent from Ohio HD Video with out a valid credit card and Government Issued photo ID?</h4>
			<p>No. We trust our customers, but one bad egg spoils the bunch. We require a valid Government Issued photo ID and a valid Visa or MasterCard (Sorry, no Discover or AMEX). If you are renting a truck, we require a valid driver's license and proof of auto insurance.</p>
			
			<hr />
			
			<a name="rental-setup"></a>
			<h2>Rental Set-Up Procedures</h2>
			
			<h4>What is the best way to submit a rental request?</h4>
			<p>We deal with orders in all forms all day long. The best way to submit a rental request is by e-mail. Be sure to include:</p>
			
			<ol>
				<li>The day(s) you are interested in renting.</li>
				<li>A specific list of what you would like to rent.</li>
				<li>Any special requests or needs you may have.</li>
			</ol>
			
			<p>If you have not received a quote back, feel free to send another e-mail or call the office at 614.656.1162.</p>
			
			<h4>How soon before my shoot should I place my gear order to make sure it will be available?</h4>
			<p>The sooner we know, the better. We will place the items you request on hold. However, should another rental firm up before yours is officially happening you may lose items to it. The sooner you know that a shoot is confirmed, let us know and we will lock you in.</p>
			
			<h4>What types of items can I rent from Ohio HD Video?</h4>
			<p>We offer a full selection of the latest cine-style cameras, lenses, and accessories. Our cameras range from 1/3"  to large sensor 5k cameras. For those of you shooting film still - we also have 16mm and 35mm cameras available. In addition to camera we offer a selection of grip and lighting gear to take care of your small shoots. Also, if we don't have it - we probably know someone who does. Let us know what you need and we will make our best effort to accommodate.</p>
			
			<h4>Can Ohio HD Video help me select the right equipment package for my project?</h4>
			<p>Ohio HD Video's staff is constantly keeping up with the latest information to help you make informed decisions. Let us know what the project is and we can steer you toward the right kind of gear.</p>

			<h4>Will Ohio HD Video provide me with any training for the gear I am renting?</h4>
			<p>Yes, we run training sessions and bring in outside professionals occasionally. But, if you would like some one-on-one time with what you are planning on renting we will set up a time where we will walk you though your entire rental.</p>

			<h4>Is the pricing on the website accurate?</h4>
			<p>Yes, pricing on the website is accurate, but is subject to change at any time.</p>

			<h4>Does Ohio HD Video offer long term rentals?</h4>
			<p>Absolutely! Let us know how long you need it and what you need an we will work on making that a reality. Special pricing is available to long term rentals.</p>
			
			<hr />
			
			<a name="gear-pickup"></a>
			<h2>Gear Pick-up</h2>
			
			<h4>What is the process for picking up the items I am renting?</h4>
			<p>After your order is confirmed, and all the paperwork is finished, let us know what time you are thinking of coming by so that we can be sure the gear is ready for you. When you get to Ohio HD Video, you should open and go through all of your cases and inform us of anything that may be missing, damaged, or not working properly. Once you leave, we will assume that everything was there and in proper working condition, so check throughly. Take your time, we want to make sure your rental is the best it can be, and we are here to help answer questions and correct any issues that arise. If you need to do a full camera prep at our facility let us know ahead of time. The space is available and is free of charge. Once you have acknowledged the gear is ready to go, you will sign off on the pack list to confirm you have received what we have recorded as giving you. Then you are on your merry way.</p>
			
			<h4>What time do I pick up and drop off rental gear?</h4>
			<p>Pick-up is 3p - 5p the day before your rental or anytime 9a-5p the day of your rental.</p>
			<p>Return is 9a - 11a the day after your rental or any time 9a-5p the day of your rental.</p>
			
			<p>For example, you rent a camera for a shoot on Wednesday. You may pick up the camera during our open hours on Wednesday or as early as 3p on Tuesday. Then, when you have finished shooting, you can return the camera during the open hours on Wednesday or before 11a on Thursday.</p>
			
			<h4>Will Ohio HD Video set up the camera with specific settings?</h4>
			<p>Yes! If you give us specific settings we'll give you a camera back with those same settings you requested.</p>
			
			<h4>Does Ohio HD Video have an area to prep and check out the camera and lenses before my rental?</h4>
			<p>Yes, our checkout facility has prep bays available for you to check your package thoroughly. There is room to spread out and open your cases, and focus charts on the walls to check your lenses. </p>
			
			<h4>Does Ohio HD Video offer "local" delivery?</h4>
			<p>Ohio HD Video offers delivery with the Greater Columbus area for a $50.00 fee. Further deliveries may be made on a per case base. Call us to discuss delivery options.</p>
			
			<h4>Will Ohio HD Video ship the rented equipment to my location?</h4>
			<p>Yes, we will ship rented equipment to you location. Once shipped, you retain all responsibility for the gear once it reaches your location. You are responsible for checking the equipment and reporting any problems within 24 hours of the signature receipt by the carrier.</p>
			
			<h4>Can I fly to a location with my rented equipment?</h4>
			<p>Yes. We ask that you inform us that you will be flying so we can prepare your package.</p>
			
			<hr />
			
			<a name="gear-return"></a>
			<h2>Returning Gear</h2>
			
			<h4>What is the process for returning the items I am renting?</h4>
			<p>Return is simple. Bring all of the gear back to Ohio HD Video. Report any problems that may have occurred, such as loss or damage (hopefully nothing to report) and that's it. Our staff will check in the package and inform you of any problems we found within 24-48 hours after our check-in process is complete, for larger packages, the check-in may take a day or two.</p>
			
			<h4>Does Ohio HD Video offer after hour or weekend options for picking up or dropping off rental gear?</h4>
			<p>We try to make the process for you as easy as possible. We will work with you to arrange after-hour pickup or drop off, if needed. In some circumstances additional charges may apply. Keep in mind, when it leaves our prep-building the gear is your responsibility until it makes it into our return building.</p>
			
			<h4>What if I am late returning my rental gear to Ohio HD Video?</h4>
			<p>Stuck in traffic? Still finishing up cleaning the gear?  Family emergency?  Call us and let us know. If we don't have an urgent need for any items you have, there is a good chance we can arrange a later return. No call, no show?  Late charges up to a full day rate for each day the gear is not returned may apply. In the event the rental is not returned 7 days after the due date, the equipment will be considered stolen, a police report filed, and you will be responsible for the full cost of missing equipment.</p>
			
			<hr />
			
			<a name="general-rental-questions"></a>
			<h2>General Rental Questions</h2>
			
			<h4>Why should I rent equipment from Ohio HD Video rather than buying my own?</h4>
			<p>Buying a camera feels good until you realize that your camera is old and lame. Unfortunately that happens rather quickly, in some cases less than a year, and you feel like you are shooting with a very expensive paper-weight that no one wants to buy at your expensive price. Renting alleviates that problem as the cost can be grouped with the total cost of production and you get to shoot with the shiny new camera that makes you feel good. To top it off you don't have to pay to case it, maintain it, upgrade it, or buy additional accessories - we take care of that.</p>
			
			<h4>Can I rent a camera from Ohio HD Video and use my own lenses and accessories?</h4>
			<p>Yes. But, we are not responsible for any misunderstandings on lens mount types. Not sure if your lenses will work?  Bring them in at the time of pickup and we can confirm for you if they will mount to the camera. We will try to make sure you can use your equipment with ours.</p>
			<p>As for accessories, as long as they don't physically damage the equipment, you are free to use your own gear.</p>
			
			<h4>I already have a camera, can I rent accessories from Ohio HD Video without getting a camera?</h4>
			<p>Yes. We carry a full line of professional camera accessories. Browse the website to see what our offering is.</p>
			
			<h4>How do I select the right lens or lens package?</h4>
			<p>Selecting the right lens package can depend a lot on what you are shooting or trying to accomplish. Shooting a highly visible product? Perhaps a premium prime lens package would be best. Need to move quickly on set, but the project is still high profile? Premium zooms may be in order. Internal video? perhaps a middle of the road lens set. Music video, film project, something else?  That's a tough one, because every lens has a characteristic that can be used to your advantage. Ask us for our recommendations. We can detail the pros and cons of each lens package.</p>
			
			<hr />
			
			<a name="batteries-media"></a>
			<h2>Batteries &amp; Recording Media</h2>
			
			<h4>Are the batteries that come with my packaged charged when I pick them up?</h4>
			<p>Yes. When a camera comes in, the batteries immediately go on charge. Sometimes our turnaround on cameras is faster than we can pump electricity into those cells. Check them before your shoot and if needed, start charging at your first location. We will let you know if a battery was not charged before it ended up in your package.</p>
			
			<h4>Does Ohio HD Video provide media cards with each camera?</h4>
			<p>Yep. Enough to get you shooting. They are provided as courtesy and need to be returned with the camera. Ohio HD Video is not responsible for data or media errors. Cards should be formatted before use in the camera and should be formatted again before they are returned. Extra media is available for rent.</p>
			
			<h4>Should I format media cards before I use them?</h4>
			<p>YES! We attempt to make sure all of the media you receive from us is formatted. But as our media is used in dozens of cameras it is possible that the formatting may have been for a different system. To make sure you're recording to fresh media, format your cards at the start of your shoot day.</p>
			
			<h4>Should I format media cards before I return them to Ohio HD Video?</h4>
			<p>Do you want your footage shared with the next rental client?  Probably not!. You should always format your media cards after you have successfully copied and verified the footage is backed up. See the section on good data management for copy and verification techniques.</p>
			
			<h4>Once I have returned the a camera and media cards to Ohio HD Video, how soon will you format the media cards?</h4>
			<p>We make every attempt to format them on check-in. Sometimes a card will get overlooked here or there, so if you are concerned about someone getting your footage, be sure to format the card before returning it to us.</p>
			
			<h4>Is Ohio HD Video responsible for lost or corrupt data on the media cards that come with my rental?</h4>
			<p>No. We make every attempt to be sure that the media we send you is in proper working order, but with any electronic device it could have a malfunction. We suggest you refer to our data management section for tips on making sure you get all the footage you shot.</p>
			
			<h4>What is the best way to handle data on set?</h4>
			<p>First, hire someone who does this often!  Then, Backup, Backup, Backup. When you're working with digital files every bit (we're talking zeros and ones) needs to be in it's place. We recommend the process of copying your footage to at least two separate drives. Furthermore, we do not recommend the copy and paste method of transferring if it can be avoided. The problem is that copying files in this manner ignores the error checking steps that are crucial to ensuring your data is safe and intact. We recommend a program like <a href="http://www.imagineproducts.com/index.php?main_page=product_info&cPath=5&products_id=2&zenid=dfo2rjmoj8ek6if4j2qni26bs6" target="_blank">ShotPut Pro</a> that will do an MD5 checksum and compare the source and the copied destination files to make sure that every byte was copied correctly. MD5 checksums can be done in a command-line terminal, but who's got time for that?</p>
			
			<h4>Why is a Data Wrangler important?  What is a DiT?</h4>
			<p>Now, you have probably paid quite a bit of money to make sure that your shoot goes well. Perhaps you hired crew, fed them, paid talent, paid for travel, perhaps you even had expensive coffee on set, but you want to cut down on costs. So you decide to use your computer and pull the data yourself with the good ole' copy and paste method. While you were transferring your computer had a hiccup that you didn't see. You checked the file size on the card and on the computer, spot checked a couple clips,  and told the camera assistant the card was good to format…so they did. Later you start to scrub through footage and realize there are dropped frames because a bit got missed or moved incorrectly in that copy. That was the only take of your awesome exploding car scene and you can't afford to do it again...</p>
			
			<p>A data wrangler may have saved you a lot of heartache there. They will use software like ShotPut pro that can do a bit for bit comparison to ensure it was all transferred properly. </p>
			
			<p>A D.I.T. or Digital Imaging Technician can preform the same role as the Data Wrangler, but will also assist in creating dailies, color looks, and assist in the overall workflow from production to post.</p>
			
			<hr />
			
			<a name="technical-questions"></a>
			<h2>Gear Related Technical Questions</h2>
			
			<h4>What is the difference between 1080, 2k &amp; 4k?</h4>
			<p>Without getting overly technical here, these are resolution sizes. 1080 would be your typical broadcast television size, 2K is often the projected format in a movie theater, and 4k is a large format sometimes projected, but often used for heavy CG work.</p>
			
			<h4>When should I use an off board recorder?</h4>
			<p>Off-board recorders are especially nice in several situations. Perhaps you know you will be shooting a large amount of footage. Many of todays off board recorders offer multiple media options as well as large format SSD storage options. With these options you can shoot for extended periods of time. Additionally, off-board recorders can be useful when you are trying to get more out of the camera than what it offers internally. Many times recorders will allow for 10 bit/12bit or in some cases RAW recording from the cameras that are often limited with internal recording devices. Let us help you decide if an off-board recorder is right in your situation.</p>
			
			<h4>What items come with a monitor? </h4>
			<p>All of our on-board monitors come with batteries, BNC, D-tap power cable, a monitor hood and a mounting arm.</p>
			<p>Our larger field and studio monitors come with a power supply, a monitor hood and two BNCs. Batteries are available for a small additional charge.</p>
			
			<h4>How often do you update firmware on the equipment?</h4>
			<p>We attempt to update firmware to the release versions as soon as possible. We don't usually do beta firmware as we want to be sure you have a reliable shooting experience. When we do, it's because the beta version offers something really awesome.</p>
			
			<hr />
			
			<a name="loss-damage"></a>
			<h2>Loss &amp; Damage</h2>
			
			<h4>What should I do if an item I have rented is lost or damaged during the rental period?</h4>
			<p>Well, we have all been there. The first step is to let us know as soon as it happens!  Often times people return gear that they think may be damaged but is easy to fix. But, for those other times, you will be responsible for the cost of repair or replacement of the item.</p>
			
			<h4>What should I do if the rented equipment appears to be malfunctioning?</h4>
			<p>If you notice something not functioning correctly. Call us and describe the problem. We may be able to help you resolve you problems. If you cannot get ahold of us, document any problems you are having and report it upon return. We recommend that you check all of the gear before you leave Ohio HD to avoid any problems with the gear.</p>
			
			<hr/>
			
			<a name="crew-services"></a>
			<h2>Crew Services</h2>
			
			<h4>Can Ohio HD Video provide crew as well as gear?</h4>
			<p>We know that choosing the right crew can be difficult and choosing the wrong crew can be devastating. That's why choosing a proven crew with the right temperament, creativity and experience is so important. Our crews show up on time and hit the ground running, keeping your production looking great and on schedule. We have a vast network of "A" list freelancers that can full the full gamut of productions including but not limited to DPs, ACs, Sound Techs, Gaffers, Grips, Data Wranglers, PAs, Teleprompter Ops, and Stylists.</p>
			
			<h4>What crew positions can Ohio HD Video help me fill?</h4>
			<p>Ohio HD Video will help you fill any and all productions positions including, but not limited to, a vast network of "A" list freelancers that run the gamut from DPs, Sound Techs, Gaffers, Grips, Production Designers, Data Wranglers, PAs, Teleprompter Ops, and Stylists.</p>
			
			<h4>What are the rates for crew?</h4>
			<p>Rates for crew are best provided over the phone or by email. We want to understand your project and match you with the best talent available for your project.</p>
			
			<h4>Why should I let Ohio HD Video crew my next shoot?</h4>
			<p>Ohio HD Video not only supplies state-of-the art equipment, but it also carries a list of some of the best crew in the mid-west.  Production is our passion. It’s where we started and it is what we do every day. Our crews arrive at your shoot with years of experience, a great attitude, love of the craft and a creative eye.</p>
			
			<h4>How far will Ohio HD Video crews travel?</h4>
			<p>As far as you would like to send us! Within 50 miles round trip we will travel at no cost, after that mileage is charged at $0.58/mile. Rates are billed portal to portal (from Ohio HD Video's office to location(s) and returning to office). Travel days are billed as half-days only if no shooting is performed that day. All travel and lodge expenses, vehicle mileage, flight costs, meal per diem costs and other "out of pocket" expenses are additional and/or available by bid for the far away places you may want to go.</p>
			
			<hr />
			
			<a name="terms"></a>
			<h2>Terms &amp; Conditions</h2>
			
			<h4>Will I be charged for canceling my order?</h4>
			<p>Any cancellation or postponement less than 24 hours on the business day prior to a scheduled rental, 100% of the day rate may be charged. A cancellation or postponement 24-48 hours prior to rental day, 50% of full rate may be charged.</p>
			
			<h4>Does Ohio HD Video offer a 3 day week?</h4>
			<p>Yes. Need gear for a week? Only pay for three days.</p>
			
			<h4>Does Ohio HD Video offer specials or weekend rates?</h4>
			<p>We understand that you want the most bang for your buck, so we offer a weekend rate of a day rate. That means you can pickup gear at 3:00 pm Friday and return it 10a monday for the cost of only one day!  We will run other specials from time to time, and the best way to find out about them is on our Facebook page.</p>
			
			<h4>Does Ohio HD Video offer a student discount?</h4>
			<p>Ohio HD Video offers a 10% student discount. We do require a valid Student ID.</p>
			
			<h4>Does Ohio HD Video offer other discounts to Indie film makers?</h4>
			<p>Indie filmmaking is hard, and we try to help. We work with different filmmaking organizations to assist with price and we may be able to help on a project-by-project basis. Call or e-mail us and we can start there.</p>
			
			<h4>What are the terms of payment?</h4>
			<p>First time rentals will be C.O.D., but subsequent rentals for approved business accounts will be billed on a net 30 basis.</p>
			
			<h4>Does Ohio HD Video accept POs?</h4>
			<p>Yes.</p>
			
			<hr />
			
			<a name="other"></a>
			<h2>Other Questions</h2>
			
			<h4>Does Ohio HD Video provide transcoding and color correction for footage after my shoot is over?</h4>
			<p>Ohio HD Video will provide transcoding and one-light color corrections after a shoot for an additional, negotiated cost. We also offer full post-production services for full edits and color grades.</p>
			
			<h4>Should I "like" Ohio HD Video on Facebook or other social media?</h4>
			<p>We would like you to. We try to post information that will help keep you informed about the latest news and information in the industry. You can find our pages here:</p>
			
			<ul>
				<li><a href="https://www.facebook.com/OhioHDVideoCineRental" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/OhioHD" target="_blank">Twitter - @OhioHD</a></li>
			</ul>
			
			<p>We love it when you post your production stills on our page!</p>
			
			<h4>Are there employment opportunities at Ohio HD Video?</h4>
			<p>We are always looking for new talent at Ohio HD Video send your resumes to scott@ohiohdvideo.com<br>
			If you are interested in an internship please send a request email to scott@ohiohdvideo.com<br>
			If you are a freelancer and would like to be considered with our crewing service, please <a href="/contact/">contact us.</a></p>
			
		</div>
				
		<div class="four columns omega sidebar equal">
			<h3>Table of Contents</h3>
			<ul>
				<li><a href="#basics">Ohio HD Basics</a></li>
				<li><a href="#rental-requirements">Rental Requirements</a></li>
				<li><a href="#rental-setup">Rental Set-Up Procedures</a></li>
				<li><a href="#gear-pickup">Gear Pick-up</a></li>
				<li><a href="#gear-return">Returning Gear</a></li>
				<li><a href="#general-rental-questions">General Rental Questions</a></li>
				<li><a href="#batteries-media">Batteries &amp; Recording Media</a></li>
				<li><a href="#technical-questions">Gear Related Technical Questions</a></li>
				<li><a href="#loss-damage">Loss &amp; Damage</a></li>
				<li><a href="#crew-services">Crew Services</a></li>
				<li><a href="#terms">Terms &amp; Conditions</a></li>
				<li><a href="#other">Other Questions</a></li>
			</ul>
			
		</div><!-- End Sidebar -->
	</div><!-- End Container -->
</div>

{% endblock %}