<footer id="footer">
	<div class="container clearfix">
		<div class="four columns alpha">
			<h4 class="newsletter">Stay Informed</h4>
			<p>Stay up-to-date with all of the latest gear, news, and specials from Ohio HD by joining our newsletter today!</p>
			<a href="http://ohiohdvideo.us2.list-manage.com/subscribe?u=fb143795b9534675eb295b685&id=11b9902666" class="button full-width">Sign Me Up!</a>
		</div>
		<div class="four columns">
			<h4 class="rss">New Blog Posts</h4>
			<script type='text/javascript' charset='utf-8' src='http://scripts.hashemian.com/jss/feed.js?print=yes&numlinks=5&summarylen=0&seedate=no&popwin=yes&url=http:%2F%2Fohiohd.blogspot.com%2Ffeeds%2Fposts%2Fdefault'></script>
			<noscript>You must have javascript enabled to view the Blog feed :(</noscript>
		</div>
		
		<!--
		<div class="four columns">
			<h4 class="sitemap">Site Map</h4>
			<ul class="clearfix">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about/">About Us</a>
				</li>
				<li>
					<a href="/crews/">Production Crews</a>
				</li>
				<li>
					<a href="/gear/">Gear Rental</a>
				</li>
				<li>
					<a href="/services/">Production Services</a>
				</li>
				<li>
					<a href="http://ohiohd.blogspot.com">Blog</a>
				</li>
				<li>
					<a href="/contact/">Contact Us</a>
				</li>
			</ul>
		</div>
		-->
		
		<div class="four columns">
			<h4 class="contact">Contact Info</h4>
			<p><span class="yellow label"><strong>Location:</strong></span><br />
				Ohio HD Video @The Backlot<br />
				3465 Noe Bixby Rd<br />
				Columbus, Ohio 43232
			</p>
				
			<p>Open Weekdays 9am - 5pm</p>
				
			<p>
				<span class="yellow label"><strong>Phone:</strong></span> 614-656-1162<br />
				<span class="yellow label"><strong>Fax:</strong></span> 614-656-4343<br />
				<span class="yellow label"><strong>Email:</strong></span> info@ohiohdvideo.com	
			</p>
		</div>
		
		<div class="four columns omega">
			<h4>Member of:</h4>
			<a href="http://na.plasa.org/perg/perg.htm" target="_blank">
				<img src="{{ STATIC_URL }}img/plasa-perg-logo.png" width="200" height="42" alt="Production Equipment Rental Group">
			</a>
		</div>
		
	</div><!-- end #footer .container -->
	<div id="fine-print">
		<div class="container">
			<p class="copyright">Copyright &copy; 2013 Ohio HD Video</p>
			<p class="credits">Designed by: <a href="http://kinopicz.com" target="_blank">Kinopicz American</a></p>
		</div>
	</div><!-- end #fine-print -->
</footer><!-- end #footer -->