<div id="header">
	<div id="toolbar">
		<div class="container clearfix">
			
			<nav id="mini-nav">
				<ul>
					<li><a href="/crew/terms/">Crew Terms</a></li>
					<li><a href="/rental/terms/">Rental Terms</a></li>
					<li><a href="/downloads/">Downloads</a></li>
					<li><a href="http://ohiohdvideo.us2.list-manage.com/subscribe?u=fb143795b9534675eb295b685&id=11b9902666">Newsletter</a></li>
					<li><a href="/faq/">FAQ</a></li>
				</ul>
			</nav>
			
			<div id="social-links">
				Follow Us:
				<a href="http://www.facebook.com/#!/pages/Columbus-OH/Ohio-HD-Video-Film-Rental/55577432516?ref=ts" target="_blank" class="social-icon facebook"></a>
				<a href="http://www.youtube.com/user/ohiohdvideo" target="_blank" class="social-icon youtube"></a>
				<a href="http://vimeo.com/user1422987" target="_blank" class="social-icon vimeo"></a>
				<a href="http://www.twitter.com/OhioHD" target="_blank" class="social-icon twitter"></a>
			</div>
			
		</div>
	</div><!-- End Toolbar -->
	
	<div class="container clearfix">
		<div id="header-left">
			<div id="logo">
				Ohio HD Video
			</div>
			<div id="tagline">
				Crews - Gear Rental - Production Services
			</div>
		</div>
		
		<div id="header-right">
			<div class="phone">614-656-1162</div>
			<div class="email">info@ohiohdvideo.com</div>
			
			<div id="search" class="clearfix">
				<form method="get" action="/search/">
					<input type="text" class="searchfield" name="q" maxlength="100" size="40" placeholder="Search..." autocomplete="off" />
					<button class="searchButton" type="submit"></button>
				</form>
			</div>
			
		</div>
	</div>
	
	<nav id="mainmenu">
		<div class="container clearfix">
			<ul class="clearfix">
				<li>
					<a href="/" class="{{homeClass}}">Home</a>
				</li>
				<li>
					<a href="/about/" class="{{aboutClass}}">About</a>
				</li>
				<li>
					<a href="/crews/" class="{{crewsClass}}">Crews</a>
				</li>
				<li>
					<a href="/gear/" class="{{gearClass}}">Gear Rental</a>
				</li>
				<li>
					<a href="/services/" class="{{servicesClass}}">Services</a>
				</li>
				<li>
					<a href="http://ohiohd.blogspot.com" target="_blank">Blog</a>
				</li>
				<li>
					<a href="/contact/" class="{{contactClass}}">Contact Us</a>
				</li>
			</ul>
			
		</div>
	</nav><!-- End Main Nav -->
</div><!-- End Header -->
