{% extends "base.html" %}

{% block page_title %}Rental Terms{% endblock %}
{% block class %}rental-terms{% endblock %}

{% block content %}

<div id="main-content">
	<div class="container clearfix">
		<div class="twelve columns alpha equal" style="height: 3312px; overflow: visible;">
			<h1>Gear Rental Terms</h1>
			
			<h4>Accounts</h4>
			<p>To set up an account with Scott Handel Productions, a completed business account application should be submitted to our office no less than one week prior to your first use date to ensure sufficient processing time. First time rentals will be C.O.D., but subsequent rentals for approved accounts will be billed on a net 30 basis.</p>

			<p>The Client acknowledges that it has examined and tested the items of equipment listed herein and that the same are in good working condition and accepts the same as is, and without any rental reductions or claim therefore. The Client acknowledges that this equipment is leased without warranty or guarantee of any kind expressed or implied and that OHIO HD VIDEO assumes no responsibility, implied in fact or law, for the performance or non-performance of said equipment. The Client shall return to OHIO HD VIDEO at the client's expense, for exchange for other equipment, any item of equipment listed herein which subsequent to delivery becomes inoperable. This provision shall not relieve the Client of responsibility in the event of damage, destruction or non-return.</p>

			<p>The Client is considered to have taken delivery of the equipment and therefore assumes all risk of loss from the time that the equipment is set aside from OHIO HD VIDEO's general rental inventory for use. The Client is responsible for any damage the Client causes to the equipment, property or persons during testing. Once the Client has taken delivery of the equipment, the Client's responsibility includes, but is not limited to, risks while in transit, at all locations named and unnamed, at all studios, while on the Client's own premises and while in use, or storage at OHIO HD VIDEO. Client is responsible for all equipment, which is picked up or stored by OHIO HD VIDEO for Client's ultimate use. OHIO HD VIDEO shall be acting as the Client's agent in storing any such property, which belongs to third parties. All risk of physical loss to property, which is transported or stored by OHIO HD VIDEO Client's benefit shall remain the Client's responsibility.</p>

			<p>The equipment leased hereunder shall be used only by duly qualified employees and/or agents of the Client and in strict accordance with the laws of its location and with the use contemplated in this agreement. The Client shall keep the equipment leased hereby in the Client's sole care, custody and control and shall not permit the leased equipment to be used in violation of any federal, state or municipal statutes, rules or regulations, and indemnifies and holds OHIO HD VIDEO harmless of any and all fines, forfeitures, penalties and for the violation of any statute, law, ordinance, rule or regulation of any dully constituted public authority. The equipment shall not be sublet or assigned without the prior written consent of OHIO HD VIDEO.</p>

			<h4>Return, Repair, or Maintenance</h4>
			<p>If any item of equipment is returned in a damaged or destroyed condition or if any such items is not returned for any reason (including but not limited to, destruction, confiscation, theft or act of God), the Client specifically agrees to pay OHIO HD VIDEO the cost to replace the same item of the closest comparable equipped model, at current retail prices less any discounts available, without deduction for depreciation. If any item is returned in a repairable, damaged condition, The Client shall pay to OHIO HD VIDEO the cost of such repairs as determined by OHIO HD VIDEO. In determining whether equipment shall be replaced or repaired, OHIO HD VIDEO's reasonable judgment shall be conclusive upon the Client. Notwithstanding anything to the contrary in this agreement and regardless of when the Client pays OHIO HD VIDEO the monetary value of the leased equipment, the Client shall be liable to pay rent at the rate provided in the most current edition of the rental catalogue at full rental rate for the item or item(s) irrespective of any package discounts or other discounts agreed to at the inception of the rental contract, until the equipment has actually been repaired or replaced and returned to OHIO HD VIDEO's rental inventory and the Client acknowledges that there may be delays in repair or replacement attributable to causes beyond OHIO HD VIDEO's control, however, OHIO HD VIDEO shall use best efforts to make any such repair or replacement in a prompt manner. All repairs are to be carried out by the manufacturer or service establishment as approved by OHIO HD VIDEO. The acceptance of the return of the leased equipment is not a waiver by OHIO HD VIDEO of any claims that it may have against the Client, nor a waiver of claims for latent or patent damage to the equipment.</p>

			<h4>Rates and Late Charges</h4>
			<p>The terms of payment are based upon credit information at the time of rental. Should there be any change in such information, the Client agrees that OHIO HD VIDEO is privileged to revise the terms of payment with notice. The first rental day shall be the day of delivery to the Client. The last rental day shall be the day of return if such return is after 10:00 AM. When on daily schedule, daily rate will be changed for Sundays and holidays if equipment is used. All orders shipped out of the state of Ohio are subject to a two-day minimum rental charge. Rent is payable upon receipt of invoice. All invoices not timely paid bear late charges at the rate of 1.5% per month (18% annually). If OHIO HD VIDEO places the account in the hands of an attorney or collection, the Client agrees to pay reasonable attorneys' or agency fees and court costs, which may accrue. Rental rates will not be applied to the purchase price of any equipment listed herein. In case of cancellation, OHIO HD VIDEO shall be entitled to compensation, not to exceed the lease payments, for any losses that OHIO HD VIDEO may sustain because of the cancellation of all or part of an order. Charges may apply in consideration of OHIO HD VIDEO preparing, holding in reserve or sub-renting equipment on your behalf. By keeping OHIO HD VIDEO informed of your shooting schedule you could either minimize or avoid cancellation fees.</p>

			<h4>Title and Ownership</h4>
			<p>The Client specifically acknowledges OHIO HD VIDEO's superior title and ownership of the equipment and shall keep the equipment free of all liens, levies and encumbrances. The Client acknowledges that it shall be responsible for all taxes, transportation charges, duties, broker fees, bond, and all costs imposed upon the leasing or use of said equipment. The client agrees not to remove or cover the tag over nameplate on equipment. THE CLIENT agrees not to remove or cover the tag over nameplate on equipment showing ownership by OHIO HD VIDEO.</p>

			<h4>Right of Entry</h4>
			<p>Upon termination of the lease period or upon the breach of any provision hereof, or in the event of a proceeding in bankruptcy with regard to the Client, or the levying of any legal process upon any item of equipment herein described, or upon equipment in derogation or violation of OHIO HD VIDEO's superior title and ownership, OHIO HD VIDEO and its agents shall be at liberty at any time thereafter, and upon prior notice, to remove all of said equipment with any liability for damage caused by any such entry for such purpose and without prejudice to OHIO HD VIDEO's right to receive rent due or accrued to, and including date of removal of said equipment.</p>

			<h4>Indemnity and Liability</h4>
			<p>The Client agrees to indemnify OHIO HD VIDEO and to hold OHIO HD VIDEO harmless from any and all claims, actions, suits, proceedings, costs, expenses, damage and liabilities, including reasonable outside attorney's fees, arising out of, connected with, or resulting from the equipment of the personnel provided hereunder, including without limitation and manufacture, selection, delivery, possession, use, operation, conduct, or return of said equipment. OHIO HD VIDEO shall not be liable for any loss or damage of any kind, resulting from any delay, detention, late-delivery, non-delivery, defect or deficiency in leased equipment or other materials supplied, handled, stored, repaired, transported, received or processed, or the services of technicians, drivers, or any other personnel or service provided by OHIO HD VIDEO, unless such loss or damage is caused by the negligence or willful misconduct of OHIO HD VIDEO.</p>

			<h4>Insurance</h4>
			<p>The Client must insure all of the equipment. The Client shall, at its expense, and at all times during the rental, maintain in full force and effect insurance covering all equipment rented, from all sources, for full current replacement cost without deduction vfor depreciation, and for loss of use (rents) of the equipment. Coverage must begin from the time the Client and/or its agents accept delivery of the equipment and must continue until the equipment is returned to OHIO HD VIDEO. The Client shall deliver to OHIO HD VIDEO, upon request, evidence of the insurance coverage, typically a certificate of insurance satisfactory to OHIO HD VIDEO, showing liability coverage, property insurance and workers compensation insurance prior to taking possession of the equipment. Such insurance shall be written by reputable insurers. The Client's insurers shall agree to be the primary insurers of such equipment during the rental period. Notwithstanding this paragraph, the Client shall remain primarily liable to OHIO HD VIDEO for full performance under the terms and conditions of the rental contract. OHIO HD VIDEO may enforce its remedies directly against you without resort to your insurance. However, in no event shall OHIO HD VIDEO have the right to enjoin the development, production, distribution or exploitation of the motion picture. The Client's insurance shall be on a worldwide basis, it shall name OHIO HD VIDEO as loss payee for loss or damage to the property rented; shall cover "All Risks" of loss or damage for equipment. All policies shall provide for 30 days written notice to OHIO HD VIDEO before any policy shall be modified or canceled. Limits shall be sufficient to encompass all property at risk, regardless of source. The Client shall name OHIO HD VIDEO as an additional insured on the Client's liability insurance and the Client's liability insurance shall be deemed primarily and noncontributory insurance in the event of any claim or suit. The Client's insurers shall agree the OHIO HD VIDEO'S rights under the insurance coverage as described in the preceding paragraphs shall not be affected by any act(s) or neglect or breach of condition by the Client's, other than non-payments of the insurance premiums. Lapse or cancellation of the required insurance shall be an immediate and automatic default of this agreement.</p>

			<h4>Foreign Use</h4>
			<p>All leased equipment that is due to leave the United States must be registered with U.S. Customs prior to departure. OHIO HD VIDEO will provide the Client with a manifest giving serial number, country of origin, and value of equipment at the Client's request. Adequate bonds and customs fees are to be provided by and paid by the Client. Any delay due to the Client's failure to register leased equipment shall be charged as a normal day until equipment is returned to OHIO HD VIDEO.</p>

			<h4>Shipping Costs</h4>
			<p>All air or surface/ground shipments of leased equipment will be made on behalf of THE CLIENT by company will be shipped collect for freight charges and insurance. All leased equipment returned to OHIO HD VIDEO by THE CLIENT must be shipped pre-paid.</p>

			<p>This agreement shall be governed by the laws of the state of Ohio and should any legal proceedings arise out of this agreement, the prevailing party, in addition to any other recovery, shall be entitled to recover all reasonable expenses including attorneys' fees.</p>

			<p><strong>If THE CLIENT is a corporation,</strong> the person signing this agreement on behalf of such corporation hereby warrants that he has full authority of such corporation to sign this agreement and obligate the corporation. The corporation shall be liable for all rentals and all other sums that may be at any time due and owing to OHIO HD VIDEO under the terms of this agreement.</p>

			<p>This agreement expresses the entire agreement between the parties and any change thereto must be in writing. The Client hereby certifies that he has read and fully understands all the provisions of this agreement prior to executing this agreement.</p>
						
		</div><!-- End Container -->
				
		<div class="four columns omega sidebar equal" style="height: 3312px; overflow: visible;">
			<h3>Location</h3>
			
			<p><strong>Ohio HD Video @The Backlot</strong><br>
				3465 Noe Bixby Rd<br>
				Columbus, Ohio 43232
			</p>
				
			<p>Pickup / Drop-off Gear<br>
				Open Weekdays 9am - 5pm</p>
				
			<p>
				<span class="label"><strong>Phone:</strong></span> 614-656-1162<br>
				<span class="label"><strong>Fax:</strong></span> 614-656-4343<br>
				<span class="label"><strong>Email:</strong></span> info@ohiohdvideo.com	
			</p>
			
			<p>Located 15 minutes South East of Downtown Columbus. <a href="{{ STATIC_URL }}download/OhioHD-directions.pdf">Download directions if you need help finding us.</a></p>
			
			<small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Ohio+Hd+Video,+Noe+Bixby+Road,+Columbus,+OH&amp;aq=0&amp;oq=Ohio+HD&amp;sll=39.907498,-82.870903&amp;sspn=0.143661,0.28307&amp;gl=us&amp;ie=UTF8&amp;hq=Ohio+Hd+Video,&amp;hnear=Noe+Bixby+Rd,+Columbus,+Ohio&amp;t=m&amp;cid=14368856923638474090&amp;ll=39.916583,-82.871075&amp;spn=0.059247,0.119991&amp;z=11&amp;iwloc=A">View Larger Map</a></small>
			<iframe width="200" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: 1px solid #ccc;" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ohio+Hd+Video,+Noe+Bixby+Road,+Columbus,+OH&amp;aq=0&amp;oq=Ohio+HD&amp;sll=39.907498,-82.870903&amp;sspn=0.143661,0.28307&amp;gl=us&amp;ie=UTF8&amp;hq=Ohio+Hd+Video,&amp;hnear=Noe+Bixby+Rd,+Columbus,+Ohio&amp;t=m&amp;cid=14368856923638474090&amp;ll=39.916583,-82.871075&amp;spn=0.059247,0.119991&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
			
		</div><!-- End Sidebar -->
	</div><!-- End Container -->
</div>

{% endblock %}