{% extends "base.html" %}

{% block page_title %}Video Production Services{% endblock %}
{% block class %}services{% endblock %}

{% block content %}

<div id="main-content">
	<div class="container clearfix">
		<div class="sixteen columns alpha omega">
			<h1>Production <span class="yellow">Services</span></h1>
			<p class="dbl-bottom oversized">The Production world has certainly become a whole lot more complicated in the past few years. New cameras, formats, codecs &amp; gamma curves have made it necessary to rethink how we deal with data, archiving and color grading. Ohio HD Video is there to help with on-set data management and color grading services. Let us handle the workflow while you handle the creative. Call or Email us for more details.</p>
			
			<div class="well clearfix">
				<h3 class="headline">Learn more about our workflow solutions:</h3>
				<a class="button float-right" href="/contact/">Contact Us</a>
			</div>
			
		</div><!-- End sixteen columns -->		
	</div><!-- End Container -->
</div>

{% endblock %}