/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #203756 url('img/body_bg.jpg') 50% 0 scroll no-repeat;
		font: 14px/21px "OpenSansRegular", Lucida Grande, Helvetica, Arial, sans-serif;
		color: #666;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #213856;
		font-family: "NexaBold", HelveticaNeue, Helvetica Neue, Helvetica, Arial, Sans-Serif;
		text-transform: uppercase;
		}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 36px; line-height: 42px; margin-bottom: 14px; border-bottom: 1px solid #ddd; }
	h2 { font-size: 30px; line-height: 36px; margin-bottom: 10px; }
	h3 { font-size: 25px; line-height: 31px; margin-bottom: 8px; }
	h4 { font-size: 20px; line-height: 28px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #2ea8e5; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #59c8ff; text-decoration: underline; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #F2A200; /* Old browsers */
		background-image: linear-gradient(bottom, rgb(236,130,0) 10%, rgb(255,208,66) 55%);
		background-image: -o-linear-gradient(bottom, rgb(236,130,0) 10%, rgb(255,208,66) 55%);
		background-image: -moz-linear-gradient(bottom, rgb(236,130,0) 10%, rgb(255,208,66) 55%);
		background-image: -webkit-linear-gradient(bottom, rgb(236,130,0) 10%, rgb(255,208,66) 55%);
		background-image: -ms-linear-gradient(bottom, rgb(236,130,0) 10%, rgb(255,208,66) 55%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.1, rgb(236,130,0)),
			color-stop(0.55, rgb(255,208,66))
		);
	  border: 1px solid #502c00;
	  -moz-border-radius: 6px;
	  -webkit-border-radius: 6px;
	  border-radius: 6px;
	  color: #203756 !important;
	  display: inline-block;
	  font-size: 14px;
	  font-weight: bold;
		text-transform: uppercase;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .5);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 20px;
	  font-family: "NexaBold", Helvetica, Arial, sans-serif;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,1) inset;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,1) inset;
		box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,1) inset;
	
	}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222 !important;
		background: #f09800; /* Old browsers */
		background-image: linear-gradient(bottom, rgb(242,146,3) 10%, rgb(255,212,82) 55%);
		background-image: -o-linear-gradient(bottom, rgb(242,146,3) 10%, rgb(255,212,82) 55%);
		background-image: -moz-linear-gradient(bottom, rgb(242,146,3) 10%, rgb(255,212,82) 55%);
		background-image: -webkit-linear-gradient(bottom, rgb(242,146,3) 10%, rgb(255,212,82) 55%);
		background-image: -ms-linear-gradient(bottom, rgb(242,146,3) 10%, rgb(255,212,82) 55%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.1, rgb(242,146,3)),
			color-stop(0.55, rgb(255,212,82))
		);
 }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border-width: 0;
		background: #ec8100; /* Old browsers */
		background-image: linear-gradient(bottom, rgb(240,181,5) 10%, rgb(209,125,0) 100%);
		background-image: -o-linear-gradient(bottom, rgb(240,181,5) 10%, rgb(209,125,0) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(240,181,5) 10%, rgb(209,125,0) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(240,181,5) 10%, rgb(209,125,0) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(240,181,5) 10%, rgb(209,125,0) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.1, rgb(240,181,5)),
			color-stop(1, rgb(209,125,0))
		);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;
		box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;
 }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.ltblue { color: #8bcaff; }
	.yellow { color: #f2a200; }
	.float-left { float: left; margin: 0 20px 20px 0; }
	.float-right { float: right; margin: 0 0 20px 20px; }


